@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.cecutient-version
	// base
	$font-size: 1.6rem
	$line-height: round-float(3.0rem/$font-size, 2)
	// ===============
	$border-width: 2px
	// ===============
	$animation-speed: 0s

	&
		*::selection
			background-color: black
			color: white