@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.color-scheme-bw
	//========== VARIABLES =========
	
	// color
	// главные контрастные цвета (обычно, белый и черный)
	$text-color-base: black
	$bg-color-base: white
	// цвет панелей отличающихся по цвету фона от основного цвета страницы (хедер, сайдбар и т.д.)
	$bg-panels-color: white
	// цвет фона выделенных элементов
	$bg-color-selected: black
	// цвет фона страницы
	$bg-color: white
	// ==============
	$base-color: black
	$base-color-alt: black
	// цвет основного текста
	$text-color: black
	$text-color-light: black
	$text-color-alt: black
	$mark-color: black
	// цвет основных заголовков заголовков
	$title-color: black
	$link-color: black
	$link-color-inverse: white
	$link-color-disabled: #989898
	$link-color-visited: #989898
	// цвет линий и границ
	$border-color: black
	// ===============
	$border-width: 2px
	// form
	$form-text-color: black
	$form-placeholder-color: black
	$form-bg-color: white
	$form-border-color: black
	$form-border-focus-color: black
	$form-error-color: black
	$form-success-color: black
	// ==================
	$checkbox-color: $text-color-base
	// btn
	$btn-bg-color: black
	$btn-bg-hover-color: white
	$btn-text-color: white
	$btn-disabled-color: #ccc

	//========== VARIABLES end =========

	//=========== TYPOGRAPHY ==========
	&
		background-color: $bg-color-base
		color: $text-color

		*::selection
			background-color: black
			color: white

	h1, h2, h3, h4, h5, h6
		color: $title-color

	hr
		border-color: $border-color

	.layout-article > p:first-of-type
		&:first-letter
			color: $text-color-base

	.breadcrumbs__list a, .#{$user-content} a:not(.btn-default):not(.btn-default-alt):not(.view-print):not(.icon-jfi-trash):not(.promo-slide):not(.news-previews__link):not(.news-previews__label):not(.several-slider__inner):not(.popular__inner):not(.structure-panel-item)
			color: $link-color
			border-color: $border-color

			&:hover
				background-color: $border-color
				box-shadow: -#{$border-width*2} 0 0 $border-color, #{$border-width*2} 0 0 $border-color
				color: $bg-color-base

	.mark
		color: $bg-color-base
		background-color: $mark-color

	.text-color-alt
		color: $text-color-alt

	// list
	.#{$user-content}
		ul > li::before
			border-color: $text-color-base

		ol
			& > li
				&::before
					border-color: $text-color-base
					color: $text-color-base

		ul, ol
			ul li
				&::before
					background-color: $text-color-base

	// list end

	// table
	table

		td, th
			border-color: $border-color
			color: $text-color-base

	.#{$user-content}

		.tbl

			td, th
				background-color: $bg-color-base
				border-color: $border-color

			th, thead td, tfoot td
				color: $text-color-base
				background: $bg-panels-color
				border-color: $border-color

	// blockquote
	.#{$user-content}
		blockquote
			border-color: $border-color

			q, cite
				color: $text-color-base

	// blockquote end

	// add shadow
	.add-shadow--full
		background-color: $bg-color-base
		border-color: $border-color

	// add shadow end

	// benefits counter
	.benefits-counter__item
		.dd
			+display-inline-block-top
			color: $text-color

	// benefits counter end

	// files links
	.file
		color: $text-color

		path
			fill: $text-color

		& > em
			color: $text-color-light

		.no-touchevents &:hover
			background-color: $text-color-base

			path
				fill: $bg-color-base

			& > span, & > em
				color: $bg-color-base

	// files links end

	// short contacts
	.short-contacts

		li
			color: $text-color-base

		path, use
			fill: $base-color

		a
			color: $text-color-base !important

		a, & li > div
			color: $text-color-base

			&[href]
				span
					border-bottom-color: tint($text-color-base, 40%)

			&[href^="tel:"], a[href]
				span
					border-bottom-color: transparent

			.no-touchevents &[href]:not([href^="tel:"]):hover
				color: $bg-color-base
				background-color: $base-color

				span
					border-bottom-color: $base-color

	.fame__item .short-contacts
		li
			color: $bg-color-base

		a, & li > div
			color: $bg-color-base

	// short contacts end

	// breadcrumbs
	.breadcrumbs__list
		color: $text-color-light

		li
			&::after
				color: $base-color

		a
			color: $text-color-base

	// breadcrumbs end

	// datetime
	.datetime
		color: $text-color-base
	// datetime end

	// entry
	.entry-img__title
		color: $text-color-base

	// entry end

	// view print
	.view-print
		background-color: $bg-color-base
		color: $text-color-base
		border-color: $text-color-base

		.no-touchevents &:hover
			background-color: $text-color-base
			color: $bg-color-base

			path
				fill: $bg-color-base

	// view print end

	// logo
	// logo in header
	.logo
		a
			background-image: url(../../img/logo-full-bw.svg)
	// logo in header end

	// logo in sidebar
	// logo in sidebar end
	// logo end

	//=========== TYPOGRAPHY END ==========

	//=========== BUTTONS ==========
	// buttons
	// btn-default
	.btn-default, .btn-map-site
		color: $link-color-inverse
		background-color: $link-color
		border-color: $link-color

		.no-touchevents &:hover, .no-touchevents &:focus
			background-color: $link-color-inverse
			color: $link-color
			border-color: $link-color
			fill: $link-color

		&:disabled, &.disabled, &[data-disabled]
			color: $link-color-inverse !important
			background-color: $link-color-disabled !important
			border-color: $link-color-disabled !important

	// btn-default-alt
	.btn-default-alt
		color: $link-color
		background-color: $link-color-inverse
		border-color: $link-color

		.no-touchevents &:hover
			background: $link-color
			color: $link-color-inverse
			border-color: $link-color

		&:disabled, &.disabled, &[data-disabled]
			color: $link-color-disabled !important
			background-color: $link-color-inverse !important
			border-color: $link-color-disabled !important


	// button toggle menu
	.menu-btn
		box-shadow: inset -1px -1px 0 $border-color
		background-color: $bg-color-base

		&::before, &::after
			background-color: $base-color-alt

		& > i
			background-color: $base-color-alt

			&::before, &::after
				background-color: $base-color-alt

		.no-touchevents &:hover
			background-color: $base-color-alt

			& > i
				background-color: $bg-color-base

				&::before, &::after
					background-color: $bg-color-base

		.no-touchevents &.active, &.active

			& > i
				background-color: transparent

		.no-touchevents &.active:hover

			& > i
				background-color: transparent

			&::before, &::after
				background-color: $bg-color-base

	// button toggle menu end
	//=========== BUTTONS end ==========

	//=========== FORM STYLES DEFAULT ==========
	.label-holder, label
		color: $text-color

	.form-mark
		color: $mark-color

	// form common
	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		color: $form-text-color
		background: $form-bg-color
		border-color: $form-border-color

		//form hover
		.no-touchevents &:hover
			border-color: $form-border-focus-color

		//form focus
		&:focus
			border-color: $form-border-focus-color

		//form success
		.input--has-value &,
		&.success, .no-touchevents &.success
			border-color: $base-color

		//form error
		&.error, .no-touchevents &.error
			color: $form-error-color
			border-color: $form-error-color

	.error-note
		color: $bg-color-base
		background-color: $text-color

	.confirm-note
		&::before, &::after
			background-color: $text-color

	// form placeholder
	input, textarea
		+placeholder
			color: $form-placeholder-color

		//form error placeholder
		&.error
			+placeholder
				color: $form-error-color

	// form placeholder end

	// form checkbox and radiobutton
	input[type="checkbox"] ~ label, input[type="radio"] ~ label, .check-label, .radio-label
		color: $text-color

		// hover
		.no-touchevents &:hover
			color: $base-color

			input[type="checkbox"]:not(:disabled) ~ i
				&::before
					border-color: $base-color

	.no-touchevents & .check-label:hover

		input[type="checkbox"]:not(:disabled) ~ i
			&::before
				border-color: $base-color

	.no-touchevents & .radio-label:hover

		input[type="radio"]:not(:disabled) ~ span
			&::before
				border-color: $base-color

	//checkbox
	input[type="checkbox"]

		& ~ label,
		& ~ i

			&::before
				border-color: $checkbox-color

		& ~ label > span,
		& ~ span
			&::before,
			&::after
				background-color: $bg-color-base

		// checkbox checked
		&:checked
			& ~ label,
			& ~ i
				&::before
					border-color: $base-color
					background-color: $base-color

		// checkbox disabled
		&:disabled
			& ~ label,
			& ~ span
				color: #bdbdbd

			& ~ label,
			& ~ i
				&::before
					border-color: #d6d6d6
					background-color: #f3f3f3

			& ~ label > span,
			& ~ span
				&:before,
				&:after
					background: #d6d6d6

	// radio
	input[type="radio"]

		& ~ label,
		& ~ span

			&::before
				border-color: $checkbox-color

			&::after
				background: none

		& ~ label > span,
		& ~ i
			&::after
				background: $checkbox-color

		// radio checked
		&:checked
			& ~ label,
			& ~ span
				&::before
					border-color: $base-color

			& ~ label > span,
			& ~ i
				&::after
					background-color: $base-color

		// radio disabled
		&:disabled
			& ~ label,
			& ~ label > span,
			& ~ span
				color: #bdbdbd

				&::before
					border-color: #d6d6d6
					background-color: #f3f3f3

			& ~ label > span,
			& ~ i
				&::after
					background: #b9b9b9

	// form checkbox and radiobutton end

	// select
	// select overall
	.#{$user-content} select,
	.select select,
	.select2-container--default .select2-selection
		border-color: $form-border-color
		background: $form-bg-color

	.#{$user-content} select,
	.select select,
	.select2-container--default .select2-selection .select2-selection__rendered
		color: $form-text-color

	.select,
	.select2-container--default .select2-selection--single .select2-selection__arrow b
		&::after
			content: none

		&::before
			+triangle(bottom, $text-color, 10px, 1.5)
			background-color: transparent
			transform: none
			right: 10px
			margin-top: -6px

	.select2-container--default
		.select2-selection--single

			.select2-selection__arrow
				background-color: $form-bg-color

		// multiple
		.select2-selection--single,
		.select2-selection--multiple
			.select2-selection__placeholder
				color: $form-placeholder-color

		@at-root .input--has-value, &.select2-container--focus, &.select2-container--open
			.select2-selection--multiple, .select2-selection--single
				border-color: $form-border-focus-color

		.select2-search--dropdown
			.select2-search__field
				border-color: $form-border-color

				&:focus
					border-color: $form-border-focus-color
					box-shadow: none

		.select2-results__option[aria-selected=true]
			background-color: $bg-color-base
			color: $text-color-base

			&::before
				background-color: $text-color-base

			&.select2-results__option--highlighted
				&::before
					background-color: $bg-color-base

		.select2-results__option--highlighted[aria-selected]
			background-color: $base-color
			color: $bg-color-base

	// select2 dropdown
	.select2-dropdown
		border-color: $form-border-focus-color
		background-color: $bg-color-base

	select.error
		&,
		& ~ .select2-container--default .select2-selection--single,
		& ~ .select2-container--default .select2-selection--multiple
			border-color: $form-error-color

			& ~ .select2-container--default
				.select2-selection--single, .select2-selection--multiple
					.select2-selection__placeholder
						color: $form-error-color

		& ~ .select2-container--default
			.select2-selection--single, .select2-selection--multiple
				.select2-selection__placeholder
					color: $form-error-color

	select.success
		&,
		& ~ .select2-container--default .select2-selection--single,
		& ~ .select2-container--default .select2-selection--multiple
			border-color: $base-color

	// select end

	//=========== FORM STYLES DEFAULT end ==========

	//=========== LIGHT FORM ==========
	// light form
	.light-form
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			border-color: $form-border-color
			background-color: $form-bg-color

		//form error
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			&.error, .no-touchevents &.error
				color: $form-error-color

		.label-holder

			&:before
				border-top-color: $form-border-color

			&:after
				border-top-color: $base-color

		&.input--focus, &.input--has-value

			.label-holder
				color: $text-color-light

		&.error
			.label-holder
				&:before, &:after
					border-color: $form-error-color

		.select
			select,
			.select2-container--default .select2-selection
				border-color: $form-border-color
				background-color: $form-bg-color

		.select
			select
				&, &.error
					&,
					& ~ .select2-container--default .select2-selection
						border-color: transparent

			&,
			.select2-container--default .select2-selection--single .select2-selection__arrow b
				&::before, &::after
					right: 10px

			.select2-container--default
				.select2-selection--single
					.select2-selection__placeholder
						color: transparent

					.select2-selection__arrow
						background-color: $form-bg-color

	// light form end
	//=========== LIGHT FORM end ==========

	// user form
	.user-form
		background-color: $bg-color-base
		border-color: $text-color

	.form-title
		color: $text-color-alt

	// user form end

	// search form
	.search-form
		border-color: $border-color

		input
			color: $text-color

			+placeholder
				color: $text-color

	.btn-search, .btn-search-close
		border-color: $border-color

		path
			fill: $text-color

		.no-touchevents &:hover, .no-touchevents &:focus
			background-color: $text-color

			path
				fill: $bg-color-base

	// search form end

	// jFiler
	.jFiler-input-dragDrop
		background-color: $bg-color-base
		border-color: $base-color-alt

		.no-touchevents &:hover
			border-style: dotted
			border-color: $form-border-focus-color

	.jFiler-input-text strong, .jFiler-item, .jFiler-item-others
		color: $text-color

	.jFiler-item-trash-action

		.no-touchevents &:hover
			background-color: $text-color-base

			&::before, &::after
				background-color: $bg-color-base

	// jFiler end

	// social networks
	.social-networks__item

		a
			background: $link-color-inverse // НЕ background-color. Перебить градиент
			box-shadow: inset 0 0 0 #{$border-width} $link-color

			path
				fill: $link-color

			.no-touchevents &:hover
				box-shadow: inset 0 0 0 #{$border-width} $link-color
				background: $link-color // НЕ background-color. Перебить градиент

				path
					fill: $link-color-inverse

			&:active, .no-touchevents &:active
				box-shadow: none

	// social networks end

	// filters
	.filters
		a
			&.active
				box-shadow: none !important
				background-color: $link-color !important
				color: $link-color-inverse !important

	// filters end

	// pagination
	.pg-first, .pg-last, .pg-prev, .pg-next
		.no-touchevents &:not(.disabled):hover
			[class*="-arr"]
				&, &::before, &::after
					border-color: $text-color-base

	.pg-first-arr, .pg-last-arr, .pg-prev-arr, .pg-next-arr
		&, &::before, &::after
			border-color: $text-color-base

	.pg-first, .pg-last, .pg-prev, .pg-next, .pg-list a
		color: $text-color-base !important

	.pg-list .active a
		background-color: $text-color-base !important
		color: $bg-color-base !important

	// pagination end

	//=========== LAYOUT ==========
	&.home-page .wrapper
		&::before
			background: $bg-color

	// content head
	.content-head
		background: $bg-color-base !important
		border-color: $border-color

		&::before
			content: none

	// content head end

	// previews-grid
	.previews-grid, .previews-grid-list, .previews-grid-item, .previews-grid-inner
		&::before, &::after
			border-color: $border-color

	// previews-grid end

	//=========== LAYOUT end ==========

	//=========== SLIDERS ==========
	// promo-slide
	.promo-slide
		border-color: $border-color
		background-color: $bg-color-base
		color: $text-color-base

		.no-touchevents &:hover
			border-color: #000
			background-color: $text-color-base
			color: $bg-color-base

	.promo-slider__text
		color: inherit

	// promo-slide end

	// several slider
	.several-slider__text, .several-slider__value, .several-slider__unit
		color: $text-color-base

	.no-touchevents & .several-slider__inner:hover
		background-color: $text-color-base

		.several-slider__text, .several-slider__value, .several-slider__unit
			color: $bg-color-base

	// several slider end

	//=========== SLIDERS end ==========

	//=========== HEADER ==========
	.header
		background-color: $bg-panels-color
		box-shadow: inset 0 -1px 0 $border-color

	//=========== HEADER end ==========

	// user options

	.user-options__item
		& > a
			color: $text-color-base
			fill: $text-color-base
			border-color: $border-color

			&::after
				display: none

			.no-touchevents &:hover, .no-touchevents &:focus
				color: $bg-color-base
				fill: $bg-color-base
				border-color: $text-color-base
				background-color: $text-color-base

	.theme-toggle
		a
			color: $bg-color-base
			fill: $bg-color-base
			border-color: rgba($border-color, 0.2)

			.no-touchevents &:hover
				color: $base-color
				fill: $base-color
				border-color: rgba($border-color, 0.2)

	+media('<mob-lg')
		.sidebar .theme-toggle a
			box-shadow: -1px 0 0 $border-color

	.text-theme--light, .svg-theme--light
		display: inline-block

	.text-theme--dark, .svg-theme--dark
		display: none

	// lang
	.lang

		& > a
			& > span
				$this-icon-lines-color: $text-color-base

				&::before, &::after
					background-color: $this-icon-lines-color

		.no-touchevents & > a:hover > span
			&::before, &::after
				background-color: $bg-color-base

		&.choice-opened > a
			background-color: $bg-color-selected
			color: $bg-color-base
			box-shadow: -1px 0 0 rgba($bg-color-base, 0.15), inset 0 -1px 0 rgba($bg-color-base, 0.15)

			& > span
				&::before, &::after
					background-color: $bg-color-base

	.lang__list
		background-color: $bg-color-base
		border-color: $text-color-base

		a
			color: $text-color-base
			border-color: $text-color-base

			.no-touchevents &:hover, .no-touchevents &:hover
				color: $bg-color-base
				background-color: $text-color-base

	// lang end
	.sidebar
		.user-options
			border-top: 1px solid #{$border-color}

	// user options

	// navigation
	.nav-list

		li
			&.hover > .nav__tab a
				background-color: $text-color-base
				color: $bg-color-base

		a
			color: $text-color-base

	.nav__drop
		border-color: $border-color
		background-color: $bg-color-base

	// navigation end

	// caption box / caption
	.caption-box__title,
	.caption-box__title
		color: $title-color

	.caption__title
		&::before
			border-color: $border-color

	// caption box / caption end

	// news previews
	.news-previews__date
		color: $text-color-light

	.news-previews__label
		color: $bg-color-base
		background-color: $text-color-base
		box-shadow: none

		.no-touchevents &:hover
			color: white
			background-color: $base-color
			box-shadow: 0 0 0 2px $text-color

	.news-previews__figure
		background-color: $bg-panels-color

	.news-previews__title, .news-previews__text
		+display-inline-block-top
		color: $text-color

	.no-touchevents & .news-previews__link:hover
		.news-previews__title, .news-previews__text
			color: $bg-color-base
			background-color: $text-color-base

	.btn-read
		color: $text-color-base
		border-bottom-color: $text-color-base

		.no-touchevents &:hover
			color: $base-color
			border-color: $base-color

	// news previews end

	// fame
	.fame__info
		a
			color: $text-color-base !important
	// fame end

	// subscription form
	.subscription-form

		input[type='text'], input[type='email']
			background-color: $bg-color-base
			border: 2px solid #{$text-color-base}
			box-shadow: none

		input[type='submit']
			color: $btn-text-color
			fill: $btn-text-color
			background: $btn-bg-color
			border: 2px solid $btn-bg-color

			.no-touchevents &:hover
				background: $btn-text-color
				color: $btn-bg-color

	.error-text
		background-color: $text-color-base
		color: $bg-color-base

	.success-text
		background-color: $text-color-base

		span
			&::before, &::after
				background-color: $bg-color-base

	// subscription form end

	// popular
	.popular
		background: none

	.popular__icon
		path
			fill: $text-color-base

	.popular__inner
		color: $text-color-base

		.no-touchevents &:hover
			background-color: $text-color-base
			color: $bg-color-base

			path
				fill: $bg-color-base

	// popular end

	// structure
	.structure-item, .structure-hand
		&::before
			border-color: $text-color-base

	.structure-hand, .structure-panel-item
		border-color: $text-color-base
		background-color: $bg-color-base
		color: $text-color-base

	.structure-hand
		.angle
			&::before, &::after
				background-color: $text-color-base

		.counter
			color: $text-color-base

	.no-touchevents & .structure-hand:hover, & .structure-hand.is-open
		background-color: $text-color-base
		color: $bg-color-base

		.counter
			color: $bg-color-base

		.angle
			&::before, &::after
				background-color: $bg-color-base

	.structure-panel-item
		.no-touchevents &:hover
			color: $text-color-base

	.structure-panel-label
		color: $text-color-base

	// structure end

	// footer
	.footer__holder
		border-color: $border-color
	// footer end

	// fame
	.fame__img
		background-color: $base-color-alt
	// fame end

	// contacts
	.info-container__title
		color: $text-color-base

	// contacts end

	// divider
	.divider
		border-top-color: $border-color

	// divider end

	// info links
	.info-links__inner
		color: $base-color-alt
		background-color: $bg-color-base

		&::before
			border-top-color: $border-color

	.info-links__icon
		path
			fill: $base-color

	.info-links__text
		border-bottom-color: $link-color

	.no-touchevents & .info-links__inner:hover, .no-touchevents & .info-links__inner:focus
		background-color: $base-color-alt
		color: $bg-color-base

		.info-links__icon
			path
				fill: $bg-color-base

		.info-links__text
			border-bottom-color: transparent

	// info links end

	//=========== SIDEBAR ==========
	.sidebar
		background-color: $bg-panels-color
		border-right-color: $border-color

	.sidebar__holder
		background-image: none

	.sidebar-widget
		border-top-color: $border-color

	// menu
	.menu-list, .sidebar .nav-list

		a
			color: $text-color-base

		.no-touchevents & a:hover
			color: $text-color-base
			background-color: $bg-color-base
			border-color: $border-color

		.current a
			color: $bg-color-base !important
			background-color: $base-color !important
			border-color: $border-color

	// menu end
	//=========== SIDEBAR END ==========

	//=========== ASIDE ==========
	// actual links
	.actual-links
		a
			color: $link-color

			span
				border-bottom-color: transparent !important

			.no-touchevents &:hover
				span
					border-color: $base-color

	.no-touchevents & .actual-links
		a:hover
			color: $link-color-inverse
			background-color: $link-color

	// actual links end

	// banner inner
	.banner-inner__figure

		path
			fill: $base-color

	// banner inner end

	/* banner
	.banner
		color: $text-color

	/* banner end
	//=========== ASIDE END ==========

	//=========== FOOTER ==========
	// footer gov
	.gov__list
		margin-bottom: $bottom-space

	.gov__inner
		color: $text-color-base
		border-color: $border-color

		.no-touchevents &:hover
			background-color: $border-color
			color: $bg-color-base
			border-color: $border-color

	.banner-inner__title
		color: $base-color-alt

	// footer gov end

	// footer common
	.footer-common
		a
			color: $link-color

			.no-touchevents &:hover
				color: $link-color-inverse
				background-color: $link-color

	// footer common end

	// developer
	.developer a
		border: none !important
		box-shadow: none !important
		padding-top: 0 !important

		.no-touchevents &:hover
			background: none

	.developer__logo
		&::before
			background: $text-color-base

		&::after
			border: 1px solid $text-color-base
			background-color: $bg-color-base

	// developer end
	//=========== FOOTER END ==========