@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

//========== VARIABLES =========
// главные контрастные цвета (обычно, белый и черный)
$text-color-base: white
$bg-color-base: black
// цвет панелей отличающихся по цвету фона от основного цвета страницы (хедер, сайдбар и т.д.)
$bg-panels-color: #1e2345
// цвет фона страницы
$bg-color: $base-color-alt
// цвет фона элементов выделяющихся на страницы
//$bg-color-alt: white
// цвет фона выделенных элементов
//$bg-color-selected: #f3f3f3
// цвет основного текста
$text-color: white
// цвет основных заголовков заголовков
$title-color: white
// цвет текста светлее основного
//$text-color-light: #b2b2b2
// цвет для выделения текста
//$text-color-alt: $base-color-alt
// цвет ссылки
//$link-color: $base-color
// цвет линий и границ
$border-color: #3a4165
//$border-color: green
// form
$form-text-color: $text-color
$form-placeholder-color: $border-color
$form-bg-color: $base-color-alt
$form-border-color: $text-color-base
//$form-border-focus-color: $base-color
$form-error-color: #ff3737
$form-success-color: green
// ==================
$checkbox-color: $text-color-base

//========== VARIABLES END =========

/*=========== Themes dark ===========*/
.theme-dark

	//=========== TYPOGRAPHY ==========
	h1, h2, h3, h4, h5, h6
		color: $title-color

	hr
		border-color: $border-color

	.layout-article > p:first-of-type
		&:first-letter
			color: $text-color-base

	// list
	.#{$user-content}
		ul > li::before
			border-color: $text-color-base

		ol
			& > li
				&::before
					border-color: $text-color-base
					color: $text-color-base

		ul, ol
			ul li
				&::before
					background-color: $text-color-base

	// list end

	// table
	table

		td, th
			border-color: $border-color
			color: $text-color-base

	.#{$user-content}

		.tbl

			td, th
				background-color: $base-color-alt
				border-color: $border-color

			th, thead td
				color: $text-color-base
				background: $bg-panels-color
				border-color: $bg-panels-color
	// table end

	// blockquote
	.#{$user-content}
		blockquote
			q
				color: $text-color-base

				&::before
					background-position: 0 -182px

	// blockquote end

	// add shadow
	.add-shadow, .add-shadow--full

		&::after
			background: url(../../img/bg-shadow--light.png) right bottom

	.add-shadow--full
		background-color: $base-color-alt
		border: 2px solid $text-color-base

	// add shadow end

	// caption box
	.caption-box__title
		color: $title-color
		
	// caption box end

	//files links*/
	.file
		color: $text-color

		path
			fill: $text-color

		& > em
			color: $text-color-light

		.no-touchevents &:hover
			//background-color: $base-color

			& > em
				color: $text-color-base

	//files links end*/

	// short contacts
	.short-contacts

		li
			color: $text-color-base

		a, & li > div
			color: $text-color-base

			&[href]
				span
					border-bottom-color: tint($text-color-base, 40%)

			&[href^="tel:"], a[href]
				span
					border-bottom-color: transparent

			.no-touchevents &[href]:not([href^="tel:"]):hover
				color: $base-color

				span
					border-bottom-color: $base-color

	.fame__item .short-contacts
		li
			color: $bg-color-base

		a, & li > div
			color: $bg-color-base

	// short contacts end

	// breadcrumbs
	.breadcrumbs__list
		a
			color: $text-color-base

	// breadcrumbs end

	// datetime
	.datetime
		color: $text-color-base
	// datetime end

	//=========== TYPOGRAPHY END ==========

	//=========== BUTTONS ==========
	// button

	// btn-default
	[class*="btn-default"]
		color: $bg-color-base
		fill: $bg-color-base

		&::before
			background: $text-color-base

		// input buttons
		&[type="submit"], &[type="button"], &[type="reset"]
			background-color: $text-color-base

	// btn-default end

	// btn-default-alt
	.btn-default-alt
		color: $text-color-base
		border-color: $text-color-base

		&::before
			background: $base-color-alt

		&::after
			background-color: $text-color-base

		// input buttons
		&[type="submit"], &[type="button"], &[type="reset"]
			background: $base-color-alt

			.no-touchevents &:hover, .no-touchevents &:focus
				background-color: $text-color-base

		.no-touchevents &:hover
			color: $base-color

	// btn-default-alt end
	
	// btn-with-arrow
	.btn-with-arrow
		
		& > i
			&::before, &::after
				border-color: $base-color-alt

		&.btn-default-alt

			& > i
				&::before, &::after
					border-color: $text-color-base

			.no-touchevents &:hover

				& > i
					&::before, &::after
						border-color: $base-color

	// btn-with-arrow end

	// button toggle menu
	.menu-btn
		background-color: $bg-panels-color
		box-shadow: inset -1px -1px 0 $border-color

		&::before, &::after
			background-color: $text-color-base

		& > i
			&, &::before, &::after
				background-color: $text-color-base

		.no-touchevents &:hover
			background-color: $bg-panels-color

	// button toggle menu end

	// button toggle main menu
	.btn-main-menu
		&::before, &::after
			background-color: $text-color-base

		& > i
			&, &::before, &::after
				background-color: $text-color-base

		.no-touchevents &:hover
			background-color: $bg-panels-color

	// button toggle main menu end

	// button end
	//=========== BUTTONS END ==========

	//=========== FORM STYLES DEFAULT ==========
	// form common
	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		color: $form-text-color
		background: $form-bg-color
		border-color: $form-border-color

		//form hover
		.no-touchevents &:hover
			border-color: $form-border-focus-color

		//form focus
		&:focus
			border-color: $form-border-focus-color

		//form success
		.input--has-value &,
		&.success, .no-touchevents &.success
			border-color: $base-color

		//form error
		&.error, .no-touchevents &.error
			color: $form-error-color
			border-color: $form-error-color

	.error-note
		color: $form-error-color

	// form common end

	// form placeholder
	input, textarea

		//form error placeholder
		&.error
			+placeholder
				color: $form-error-color

	// form placeholder end

	// form checkbox and radiobutton
	input[type="checkbox"] ~ label, input[type="radio"] ~ label, .check-label, .radio-label
		color: $text-color

		// hover
		.no-touchevents &:hover
			color: $base-color

			input[type="checkbox"]:not(:disabled) ~ i
				&::before
					border-color: $base-color

	.no-touchevents & .check-label:hover

		input[type="checkbox"]:not(:disabled) ~ i
			&::before
				border-color: $base-color

	.no-touchevents & .radio-label:hover

		input[type="radio"]:not(:disabled) ~ span
			&::before
				border-color: $base-color

	//checkbox
	input[type="checkbox"]

		& ~ label,
		& ~ i

			&::before
				border-color: $checkbox-color

		& ~ label > span,
		& ~ span
			&::before,
			&::after
				background-color: $text-color-base

		// checkbox checked
		&:checked
			& ~ label,
			& ~ i
				&::before
					border-color: $base-color
					background-color: $base-color

		// checkbox disabled
		&:disabled
			& ~ label,
			& ~ span
				color: #bdbdbd

			& ~ label,
			& ~ i
				&::before
					border-color: #d6d6d6
					background-color: #f3f3f3

			& ~ label > span,
			& ~ span
				&:before,
				&:after
					background: #d6d6d6

	// radio
	input[type="radio"]

		& ~ label,
		& ~ span

			&::before
				border-color: $checkbox-color

			&::after
				background: none

		& ~ label > span,
		& ~ i
			&::after
				background: $checkbox-color

		// radio checked
		&:checked
			& ~ label,
			& ~ span
				&::before
					border-color: $base-color

			& ~ label > span,
			& ~ i
				&::after
					background-color: $base-color

		// radio disabled
		&:disabled
			& ~ label,
			& ~ label > span,
			& ~ span
				color: #bdbdbd

				&::before
					border-color: #d6d6d6
					background-color: #f3f3f3

			& ~ label > span,
			& ~ i
				&::after
					background: #b9b9b9

	// form checkbox and radiobutton end

	// select
	// select overall
	.#{$user-content} select,
	.select select,
	.select2-container--default .select2-selection
		border-color: $form-border-color
		background: $form-bg-color

	.#{$user-content} select,
	.select select,
	.select2-container--default .select2-selection .select2-selection__rendered
		color: $form-text-color

	.select,
	.select2-container--default .select2-selection--single .select2-selection__arrow b
		&::before, &::after
			background-color: $text-color-base

	.select2-container--default
		.select2-selection--single

			.select2-selection__arrow
				background-color: $form-bg-color

		// multiple
		//.select2-selection--multiple

			.select2-selection__choice
				background-color: #f3f3f3
				border: 1px solid #f3f3f3
				color: $text-color

			.select2-selection__choice__remove
				color: $text-color

				&:hover
					color: $link-color

		//.select2-selection--single,
		//.select2-selection--multiple
			.select2-selection__placeholder
				color: $form-placeholder-color

		@at-root .input--has-value, &.select2-container--focus, &.select2-container--open
			.select2-selection--multiple, .select2-selection--single
				border-color: $form-border-focus-color

		.select2-search--dropdown
			.select2-search__field
				border-color: $form-border-color

				&:focus
					border-color: $form-border-focus-color
					box-shadow: none

		//.select2-results__option[aria-selected=true]
			background-color: #f3f3f3

		.select2-results__option--highlighted[aria-selected]
			background-color: $base-color
			color: $bg-color-base

	// select2 dropdown
	.select2-dropdown
		border-color: $form-border-focus-color
		background-color: $base-color-alt

	select.error
		&,
		& ~ .select2-container--default .select2-selection--single,
		& ~ .select2-container--default .select2-selection--multiple
			border-color: $form-error-color

			& ~ .select2-container--default
				.select2-selection--single, .select2-selection--multiple
					.select2-selection__placeholder
						color: $form-error-color

		& ~ .select2-container--default
			.select2-selection--single, .select2-selection--multiple
				.select2-selection__placeholder
					color: $form-error-color

	select.success
		&,
		& ~ .select2-container--default .select2-selection--single,
		& ~ .select2-container--default .select2-selection--multiple
			border-color: $base-color

	// select end
	//=========== FORM STYLES DEFAULT end ==========

	//=========== LIGHT FORM ==========
	// light form
	.light-form
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			border-color: $form-border-color
			background-color: $form-bg-color

		//form error
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			&.error, .no-touchevents &.error
				color: $form-error-color

		.label-holder

			&:before
				border-top-color: $form-border-color

			&:after
				border-top-color: $base-color

		&.input--focus, &.input--has-value

			.label-holder
				color: $text-color-light

		&.error
			.label-holder
				&:before, &:after
					border-color: $form-error-color

		.select
			select,
			.select2-container--default .select2-selection
				border-color: $form-border-color
				background-color: $form-bg-color

		.select
			select
				&, &.error
					&,
					& ~ .select2-container--default .select2-selection
						border-color: transparent

			.select2-container--default
				.select2-selection--single
					.select2-selection__placeholder
						color: transparent

					.select2-selection__arrow
						background-color: $form-bg-color

	// light form end
	//=========== LIGHT FORM end ==========

	// user form
	.form-title
		color: $title-color

	// search form
	.search-form
		input
			&[type="search"], &[type="text"]
				background-color: $text-color-base
				color: $bg-color-base

	//=========== SLIDERS ==========
	// several slider

	.slider-arr, .slick-arrow
		&::before, &::after
			border-color: $text-color-base

	// promo slider
	.promo-slider
		background-color: $text-color-base

	.promo-slide
		background-color: $text-color-base

	.promo
		.slider-arr, .slick-arrow
			&::before, &::after
				border-color: $bg-color-base

	// promo slider end

	.several-slider__item
		border-color: $text-color-base

	.several-slider__inner
		background-color: $base-color-alt

		&::before
			border-color: $text-color-base

		&::after
			background-color: $text-color-base

		.no-touchevents &:hover
			color: $bg-color-base

		+media('<mob-md')
			border-color: $text-color-base

	.several-slider__value
		color: $text-color-base

	.no-touchevents & .several-slider__inner:hover .several-slider__value
		color: $bg-color-base

	//=========== SLIDERS END ==========

	// submenu
	.submenu-list
		&::after
			border-bottom-color: $bg-panels-color

		a
			color: $text-color-base

		// стрелка
		.submenu__angle
			& > i
				&::before, &::after
					background-color: $text-color-base

		// ховер общий
		a:hover
			color: $base-color

			& + .submenu__angle
				& > i
					&::before, &::after
						background-color: $base-color

		// пункт с открытым дропом
		li.open
			& > .submenu__tab
				a
					color: $base-color

				.submenu__angle
					& > i
						&::before, &::after
							background-color: $base-color

		// текущий пункт
		li.current
			& > .submenu__tab
				a
					color: $text-color-base
					background-color: $base-color

				.submenu__angle
					& > i
						&::before, &::after
							background-color: $text-color-base

	// первый уровень навигации
	.submenu-list

		& > li.current
			& > .submenu__tab
				a
					color: $base-color
					background: none

				.submenu__angle
					& > i

						&::before, &::after
							background-color: $base-color

	// submenu end

	// previews-grid
	.previews-grid, .previews-grid-list, .previews-grid-item, .previews-grid-inner

		&::before, &::after
			border-color: $text-color-base

	// grid view end
	// previews-grid end

	// layout
	&
		background-color: $bg-color
		color: $text-color

		&.home-page
			&::before
				+linear-gradient(to top, $bg-color 0, $bg-color 10%, rgba($bg-color, 0) 35%, rgba($bg-color, 0) 100%)


	&.home-page .wrapper::before
		background: $bg-color

	.wrapper::after
			opacity: 0.02

	// layout end

	// header
	.header
		background-color: $bg-panels-color
		box-shadow: inset 0 -1px 0 $border-color

	.header__holder
		+media('<mob-lg')
			box-shadow: 0 5px 25px transparent

			.menu--opened &
				box-shadow: 0 5px 25px rgba(black, 0.25)

	// header end

	// user options

	.user-options__item
		& > a
			color: $text-color-base
			fill: $text-color-base
			border-color: $border-color

			&::after
				background-color: $text-color-base

			.no-touchevents &:hover, .no-touchevents &:focus
					color: $bg-color-base
					fill: $bg-color-base

	.theme-toggle
		a
			background-color: $text-color-base
			color: $bg-color-base
			fill: $bg-color-base
			border-color: rgba($border-color, 0.2)

			.no-touchevents &:hover
				color: $base-color
				fill: $base-color
				border-color: rgba($border-color, 0.2)

	+media('<mob-lg')
		.sidebar .theme-toggle a
			box-shadow: -1px 0 0 $border-color

	.text-theme--light, .svg-theme--light
		display: inline-block

	.text-theme--dark, .svg-theme--dark
		display: none

	// lang
	.lang

		& > a
			& > span
				$this-icon-lines-color: $text-color-base

				&::before, &::after
					background-color: $this-icon-lines-color

		.no-touchevents & > a:hover > span
				&::before, &::after
					background-color: $bg-color-base

		&.choice-opened > a
			background-color: $bg-color-selected
			color: $bg-color-base
			box-shadow: -1px 0 0 rgba($bg-color-base, 0.15), inset 0 -1px 0 rgba($bg-color-base, 0.15)

			& > span
				&::before, &::after
					background-color: $bg-color-base

	.lang__list
		border-color: $border-color

		a
			border-color: $border-color

		.no-touchevents &
			a:hover
				background-color: $text-color-base
				color: $bg-color-base

	// lang end

	.sidebar
		.user-options
			box-shadow: 0 -1px 0 #{$border-color}, 0 5px 25px transparent

			.menu--opened &
				box-shadow: 0 -1px 0 #{$border-color}, 0 -5px 25px rgba(black, 0.25)

	// user options

	// navigation
	.nav-list

		li
			&.hover > .nav__tab a
				background-color: $text-color-base
				color: $bg-color-base

		a
			color: $text-color-base

	.nav__drop
		border-color: $border-color
		background-color: $base-color-alt

	// navigation end

	// news previews
	.news-previews__date
		color: $text-color-light

	.news-previews__label
		color: $base-color-alt
		background-color: #70758f
		box-shadow: 0 0 0 1px #70758f, 2px 0 0 1px #70758f, -2px 0 0 1px #70758f

		.no-touchevents &:hover
			color: white
			background-color: $base-color
			box-shadow: 0 0 0 1px #{$base-color}, 2px 0 0 1px #{$base-color}, -2px 0 0 1px #{$base-color}

	.news-previews__figure
		background-color: $bg-panels-color

	.news-previews__title, .news-previews__text
		color: $text-color

		.no-touchevents .news-previews__link:hover &
			color: $base-color

	.btn-read
		color: $text-color-base
		border-bottom-color: $text-color-base

		.no-touchevents &:hover
			color: $base-color
			border-color: $base-color

	// news previews end

	// subscription form
	.subscription-form

		input[type='text'], input[type='email']
			background-color: $base-color-alt
			border: 2px solid #{$text-color-base}
			box-shadow: none

		input[type='submit']
			color: $bg-color-base
			fill: $bg-color-base
			background: $text-color-base

			.no-touchevents &:hover
				background: $btn-bg-hover-color

	.success-text
		background-color: $text-color-base

		//span

			&::before, &::after
				background-color: $form-success-color

	//.error-text
		color: $form-error-color
		background-color: #f2f2f2

	// subscription form end

	// popular
	.popular
		background-color: $base-color-alt

	.popular__inner
		color: $text-color-base

		.no-touchevents &:hover
			background-color: $text-color-base
			color: $bg-color-base

	// popular end

	// structure
	.structure-panel
		background-color: $base-color-alt

	.structure-panel__content
		border-color: $text-color-base

	.structure-item, .structure-hand
		&::before
			border-color: $text-color-base

	.structure-hand, .structure-panel-item
		border-color: $text-color-base
		background-color: $base-color-alt
		color: $text-color-base

	.structure-hand
		.angle
			&::before, &::after
				background-color: $text-color-base

	.no-touchevents & .structure-hand:hover, & .structure-hand.is-open
		background-color: $text-color-base
		color: $base-color-alt

		.angle
			&::before, &::after
				background-color: $base-color-alt

	// structure end

	// sidebar
	.sidebar
		background-color: $bg-panels-color
		border-right-color: $border-color

	.sidebar__holder
		background-image: none

	.sidebar-widget
		border-top-color: $border-color

	// menu
	.menu-list

		a
			color: $text-color-base

		.no-touchevents & a:hover
			color: $base-color

		.current a
			color: $text-color-base !important
			background-color: $base-color

	// menu end

	// menu switcher
	.menu-switcher

		.btn-main-menu

			& + a
				color: $text-color-base

				&::before
					border-left-color: $border-color

				&:hover
					color: $base-color

			&.active + a
				color: $text-color-base

	// menu switcher end
	// sidebar end

	// aside
	// actual links
	.actual-links
		a
			span
				border-color: tint($text-color, 40%)

			.no-touchevents &:hover
				span
					border-color: $base-color

	// actual links end
	// aside end

	// footer
	.footer__holder
		border-color: $border-color
	// footer end

	// pagination
	.pg-first-arr, .pg-last-arr, .pg-prev-arr, .pg-next-arr
		&, &::before, &::after
			border-color: $text-color-base

	// pagination end

	// fame
	.fame__img
		background-color: $base-color-alt

	// fame end

	// contacts
	.info-container__title
		color: $text-color-base

	// contacts end

	// divider
	.divider
		border-top: 1px solid $border-color

	// divider end

	.sidebar .nav::before
		border-color: $border-color


/*=========== Themes dark end ===========*/