@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* button
[class|="btn"], [class*=" btn-"], input[type="submit"], input[type="button"], input[type="reset"], button
	display: inline-block
	vertical-align: top
	position: relative
	text-align: center
	text-decoration: none
	cursor: pointer

[class|="btn"], [class*=" btn-"]
	& input[type="submit"], & input[type="button"], & input[type="reset"]
		background: url("../../img/empty.png") repeat
		display: block
		+cover-abs()
		padding: 0
		border: none
		z-index: 99
		opacity: 0

/* depicts
.depict-send
	svg
		+size(40px, 16px)

.depict-pin
	+display-inline-block-top
	background: url(../../img/depict-pin.svg) no-repeat
	+size(16px)

.depict-phone
	+display-inline-block-top
	background: url(../../img/depict-phone.svg) no-repeat
	+size(16px)

.depict-time
	+display-inline-block-top
	background: url(../../img/depict-time.svg) no-repeat
	+size(16px)

/* depicts end

/*btn-default*/
[class*="btn-default"]
	position: relative
	+font-medium
	+font(16px, 24px)
	letter-spacing: 0.05em
	color: $bg-color-base
	fill: $bg-color-base
	text-transform: uppercase
	padding: 11px 18px
	border: 2px solid transparent
	background: $btn-bg-color
	box-shadow: none
	transition:
		property: background-color, color
		duration: $animation-speed
	margin: 0

	path
		fill: inherit

	.no-touchevents &:hover
		background-color: $btn-bg-hover-color

	//&:active
		transform: scale(0.95)

/*btn-default end*/

/*btn-default-alt*/
.btn-default-alt
	color: $btn-bg-color
	border: 2px solid $btn-bg-color
	background: $btn-text-color

	.no-touchevents &:hover
		background: $btn-bg-color
		color: $btn-text-color

/*btn-default-alt end*/

/*btn-with-icon
.btn-with-icon
	& > i, & > span
		display: inline-block
		vertical-align: baseline

	& > i
		margin-right: 10px
		line-height: 1

	svg
		+display-inline-block-top
		+size(24px)

	& > span
		text-align: left
		white-space: normal

	.depict-send
		svg
			+size(40px, 16px)

		& + span
			max-width: calc(100% - 5px - 40px - 10px)

/*btn-with-icon end
/*button end*/

/*button popup close*/
.btn-popup-close
	//<a href="#" class="btn-popup-close js-btn-menu-close"><i></i><span>Закрыть</span></a>
	$btn-bg: #f3f3f3
	$btn-color: $text-color
	$btn-size: 60px
	$btn-space: 12px
	$btn-lines-width: 20px
	$btn-lines-height: 3px
	$btn-lines-space: 5px
	$btn-lines-color: $text-color

	=line-style()
		+size($btn-lines-width, $btn-lines-height)
		border-radius: 2px

	display: block
	+size($btn-size)
	background: $btn-bg
	color: white
	text-decoration: none
	+clear-spacing
	white-space: nowrap
	transition-property: background-color, opacity, visibility
	transition-duration: $animation-speed

	+media('<mob-lg')
		+size(45px)

	&::before
		content: ''
		display: inline-block
		height: $btn-size
		min-height: 100%
		vertical-align: middle

	> span
		+hide-text

	> i
		display: inline-block
		vertical-align: middle
		position: relative
		backface-visibility: hidden
		background-color: transparent
		+line-style

		&::before, &::after
			+pseudo()
			left: 0
			backface-visibility: hidden
			+line-style
			background: $btn-lines-color
			transition-property: background-color
			transition-duration: $animation-speed

		//first line menu
		&::before
			top: 0
			transform: rotate(-45deg)

		//third line menu
		&::after
			top: 0
			transform: rotate(45deg)

	.no-touchevents &:hover
		background-color: $mark-color

//& > i::before, & > i::after
	background-color: white

/*button popup close end*/