@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* button
[class|="btn"], [class*=" btn-"], input[type="submit"], input[type="button"], input[type="reset"], button
	display: inline-block
	vertical-align: top
	position: relative
	text-align: center
	text-decoration: none
	cursor: pointer

[class|="btn"], [class*=" btn-"]
	& input[type="submit"], & input[type="button"], & input[type="reset"]
		background: url("../../img/empty.png") repeat
		display: block
		+cover-abs()
		padding: 0
		border: none
		z-index: 99
		opacity: 0

/* depicts
[class*="depict-"]
	+display-inline-block-top
	+font(0, 0)
	+size(16px)
	background-position: center center
	background-repeat: no-repeat

.depict-send
	svg
		+size(40px, 16px)

.depict-pin
	background-image: url(../../img/depict-pin.svg)

.depict-phone
	background-image: url(../../img/depict-phone.svg)

.depict-time
	background-image: url(../../img/depict-time.svg)

.depict-email
	background-image: url(../../img/depict-email.svg)

.depict-globe
	background-image: url(../../img/depict-globe.svg)

.depict-all-photos
	background: url(../../img/depict-all-photos.svg) no-repeat 0 0
	background-size: 100%
	+size(63px, 50px)

.depict-zoom
	background: url(../../img/depict-zoom.svg) no-repeat 0 0
	background-size: 100%
	+size(32px, 32px)

/* depicts end

/* btn-default
[class*="btn-default"]
	position: relative
	overflow: hidden
	+font-medium
	+font(16px, 24px)
	letter-spacing: 0.05em
	color: $bg-color-base
	fill: $bg-color-base
	text-transform: uppercase
	padding: 12px 19px
	border: 0 solid $base-color-alt
	box-shadow: none
	background: none
	text-shadow: none
	z-index: 1
	margin: 0
	transition:
		property: color, border-color
		duration: $filling-speed-mouseleave

	&::before
		+pseudo()
		+position(0)
		+size(100%)
		z-index: -3
		background-color: $base-color-alt

	&::after
		content: ''
		+animation-filling($base-color)

	path
		fill: inherit

	// hover
	.no-touchevents &:hover
		transition-duration: $filling-speed

		&::after
			+animation-filling-active

	// input buttons
	&[type="submit"], &[type="button"], &[type="reset"]
		background-color: $base-color-alt

		@if $has-animation
			transition:
				property: color, background-color, border-color
				duration: $filling-speed-mouseleave
		@else
			transition: none

		.no-touchevents &:hover
			background-color: $base-color

	// disabled
	&:disabled, &.disabled, &[data-disabled]
		cursor: default
		background-color: $btn-disabled-color !important

		&::before, &::after
			display: none

	// ie9
	.ie9 &
		transition: none
		background-color: $base-color-alt

		& > i
			&, &::before, &::after
				transition: none

		&::before
			content: none

		&:hover
			background-color: $base-color

/* btn-default end

/* btn-default-alt
.btn-default-alt
	color: $btn-bg-color
	border-width: 2px
	background: none
	padding: 11px 18px

	&[type="submit"], &[type="button"], &[type="reset"]
		background: $btn-text-color

		.no-touchevents &:hover
			background-color: $base-color-alt
			color: $btn-text-color

	&::before
		background-color: $btn-text-color

	&::after
		background-color: $base-color-alt

	.no-touchevents &:hover
		color: $btn-text-color

	&:disabled, &.disabled, &[data-disabled]
		cursor: default
		background-color: white !important
		border-color: $btn-disabled-color !important
		color: $btn-disabled-color !important

		&::before, &::after
			display: none

	// ie9
	.ie9 &
		transition: none
		background: $bg-color-base

		&::before
			content: none

		&:hover
			background-color: $base-color-alt

/* btn-default-alt end

/* btn-with-icon
.btn-with-icon
	& > i, & > span
		+display-inline-block-top

	& > i
		+size(auto)
		margin-right: 10px
		line-height: 1

	svg
		+display-inline-block-top
		+size(24px)

	@if $has-animation
		path
			transition:
				property: fill
				duration: $animation-speed

	& > span
		text-align: left
		white-space: normal

	.depict-send
		margin-top: 4px
		margin-bottom: -4px

		svg
			+size(40px, 16px)

		& + span
			max-width: calc(100% - 5px - 40px - 10px)

/* btn-with-icon end

/* btn-with-arrow
.btn-with-arrow
	$arrow-width: 26px
	$arrow-space: 10px

	& > i, & > span
		+display-inline-block-top

	& > i
		position: relative
		margin-right: $arrow-space
		margin-top: 2px
		+font(0, 0)
		+size($arrow-width, 18px)
		//background-color: coral

		&::before, &::after
			+pseudo()
			+position(50%)
			border: 0 solid $bg-color-base
			transform: none
			transition:
				property: border-color
				duration: $filling-speed-mouseleave

		&::before
			+size(26px, 2px)
			border-top-width: 2px
			margin: -1px 0 0 round(-$arrow-width/2)

		&::after
			top: 0
			+size(12px)
			border-width: 2px 0 0 2px
			transform: rotate(-45deg)
			margin: 3px 0 0 round(-$arrow-width/2)

	& > span
		text-align: left
		white-space: normal
		max-width: calc(100% - #{$arrow-width} - #{$arrow-space})

		& ~ i
			margin-right: 0
			margin-left: $arrow-space

			&::after
				border-width: 0 2px 2px 0
				margin: 3px 0 0 1px

	// alt button
	&.btn-default-alt

		& > i
			&::before, &::after
				border-color: $base-color-alt

	// hover
	.no-touchevents &.btn-default-alt:hover

		& > i

			&::before, &::after
				border-color: $btn-text-color
				transition-duration: $filling-speed

/* btn-with-arrow end
/* button end

/* button toggle menu
.menu-btn
	$btn-menu-bg: $bg-color-base
	$btn-menu-color: $text-color-base
	$btn-menu-lines-width: 24px
	$btn-menu-lines-height: 2px
	$btn-menu-lines-space: 5px
	$btn-menu-lines-color: $base-color-alt
	// =========================
	$btn-menu-cross-width: $btn-menu-lines-width
	$btn-menu-cross-height: $btn-menu-lines-height
	$btn-menu-cross-color: $btn-menu-lines-color

	=menu-btn-line()
		+size($btn-menu-lines-width, $btn-menu-lines-height)
		background-color: $btn-menu-lines-color

	=menu-btn-cross-line()
		+size($btn-menu-cross-width, $btn-menu-cross-height)
		background-color: $btn-menu-cross-color

	float: left
	display: none
	position: relative
	text-decoration: none
	color: $text-color
	+size($header-height)
	background-color: $bg-color-base
	box-shadow: inset -1px -1px 0 $border-color

	@if $has-animation
		transition:
			property: background-color
			duration: $animation-speed

	+media('<desk-sm')
		display: block

	+media('<tab-lg')
		+size($header-height--sm)

	&::before, &::after
		+pseudo()
		+menu-btn-cross-line
		left: 50%
		top: 50%
		+margin($top: -#{round($btn-menu-cross-height*0.5)}, $left: -#{round($btn-menu-cross-width*0.5)})
		opacity: 0
		transform: rotate(0deg) translateZ(0)

		transition:
			property: transform, opacity
			duration: $animation-speed
			timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	& > span
		+hide-text
		white-space: normal

	& > i
		position: absolute
		left: 50%
		top: 50%
		+menu-btn-line
		+margin($top: -#{round($btn-menu-lines-height*0.5)}, $left: -#{round($btn-menu-lines-width*0.5)})
		backface-visibility: hidden
		transition-duration: $animation-speed

		@if $has-animation
			transition-property: background-color
		@else
			transition-property: opacity

		&::before, &::after
			+pseudo()
			left: 0
			+menu-btn-line
			backface-visibility: hidden
			transform: translateZ(0)
			transition-duration: $animation-speed

			@if $has-animation
				transition-property: background-color
			@else
				transition-property: opacity, transform

		//first line menu
		&::before
			top: -#{$btn-menu-lines-height + $btn-menu-lines-space}

		//third line menu
		&::after
			top: #{$btn-menu-lines-height + $btn-menu-lines-space}

	// active
	&.active

		&::before, &::after
			opacity: 1

		&::before
			transform: rotate(45deg) translateZ(0)

		&::after
			transform: rotate(-45deg) translateZ(0)

		& > i
			opacity: 0

			&::before
				transform: translateZ(0) translate(0, #{$btn-menu-lines-height + $btn-menu-lines-space})

			&::after
				transform: translateZ(0) translate(0, -#{$btn-menu-lines-height + $btn-menu-lines-space})

	// hover
	.no-touchevents &:hover
		background-color: $base-color-alt

		&::before, &::after
			background-color: $bg-color-base

		& > i
			background-color: $bg-color-base

			&::before, &::after
				background-color: $bg-color-base

/* button toggle menu end

/* button toggle main menu
.btn-main-menu
	$btn-mmenu-bg: $bg-color-base
	$btn-mmenu-color: $text-color-base
	$btn-mmenu-lines-width: 22px
	$btn-mmenu-lines-height: 3px
	$btn-mmenu-lines-space: 4px
	$btn-mmenu-lines-color: $text-color-base
	// =========================
	$btn-mmenu-cross-width: $btn-mmenu-lines-width
	$btn-mmenu-cross-height: $btn-mmenu-lines-height
	$btn-mmenu-cross-color: $btn-mmenu-lines-color

	=mmenu-btn-line()
		+size($btn-mmenu-lines-width, $btn-mmenu-lines-height)
		background-color: $btn-mmenu-lines-color

	=mmenu-btn-cross-line()
		+size($btn-mmenu-cross-width, $btn-mmenu-cross-height)
		background-color: $btn-mmenu-cross-color

	display: block
	position: relative
	text-decoration: none
	color: $text-color
	+size(62px)

	&::before, &::after
		+pseudo()
		+mmenu-btn-cross-line
		left: 50%
		top: 50%
		+margin($top: -#{round($btn-mmenu-cross-height*0.5)}, $left: -#{round($btn-mmenu-cross-width*0.5)})
		opacity: 0
		transform: rotate(0deg) translateZ(0)

		transition:
			property: transform, opacity
			duration: $animation-speed
			timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	& > span
		+hide-text
		white-space: normal

	& > i
		position: absolute
		left: 50%
		top: 50%
		+mmenu-btn-line
		+margin($top: -#{round($btn-mmenu-lines-height*0.5)}, $left: -#{round($btn-mmenu-lines-width*0.5)})
		backface-visibility: hidden
		transition-duration: $animation-speed

		@if $has-animation
			transition-property: background-color
		@else
			transition-property: opacity

		&::before, &::after
			+pseudo()
			left: 0
			+mmenu-btn-line
			backface-visibility: hidden
			transform: translateZ(0)
			transition-duration: $animation-speed

			@if $has-animation
				transition-property: background-color
			@else
				transition-property: opacity, transform

		//first line menu
		&::before
			top: -#{$btn-mmenu-lines-height + $btn-mmenu-lines-space}

		//third line menu
		&::after
			top: #{$btn-mmenu-lines-height + $btn-mmenu-lines-space}

	// active
	&.active

		&::before, &::after
			opacity: 1

		&::before
			transform: rotate(45deg) translateZ(0)

		&::after
			transform: rotate(-45deg) translateZ(0)

		& > i
			opacity: 0

			&::before
				transform: translateZ(0) translate(0, #{$btn-mmenu-lines-height + $btn-mmenu-lines-space})

			&::after
				transform: translateZ(0) translate(0, -#{$btn-mmenu-lines-height + $btn-mmenu-lines-space})

	// hover
	.no-touchevents &:hover

		&::before, &::after
			background-color: $base-color

		& > i
			background-color: $base-color

			&::before, &::after
				background-color: $base-color

/* button toggle main menu end

/*button popup close*/
.btn-popup-close
	//<a href="#" class="btn-popup-close js-btn-menu-close"><i></i><span>Закрыть</span></a>
	$btn-bg: $bg-color-base
	$btn-color: $text-color
	$btn-size: $header-height
	$btn-space: 5px
	$btn-lines-width: 20px
	$btn-lines-height: 2px
	$btn-lines-space: 5px
	$btn-lines-color: $base-color-alt

	=line-style()
		+size($btn-lines-width, $btn-lines-height)
		border-radius: 2px

	display: block
	+size($btn-size)
	text-decoration: none
	+clear-spacing
	white-space: nowrap
	border: solid $border-color
	border-width: 1px

	+media('<tab-lg')
		+size($header-height--sm)

	&::before
		content: ''
		+display-inline-block-middle
		height: $btn-size
		min-height: 100%

		+media('<tab-lg')
			height: $header-height--sm

	& > span
		+hide-text

	& > i
		+display-inline-block-middle
		position: relative
		backface-visibility: hidden
		background-color: transparent
		+line-style

		&::before, &::after
			+pseudo()
			left: 0
			backface-visibility: hidden
			+line-style
			background: $btn-lines-color

		//first line menu
		&::before
			top: 0
			transform: rotate(-45deg)

		//third line menu
		&::after
			top: 0
			transform: rotate(45deg)

	&:hover
		background-color: $base-color-alt

		& > i
			&::before, &::after
				background-color: $bg-color-base

//& > i::before, & > i::after
	background-color: white

/*button popup close end*/