@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.contacts-page
	h1
		text-transform: uppercase

	.layout-article
		min-height: calc(100vh - #{$header-height} - #{$layout-spaces})
		padding-right: 51%
		+clear

		+media('<desk-lg')
			min-height: calc(100vh - #{$header-height} - #{$layout-spaces--lg})

		+media('<desk-md')
			padding-right: 0

	.aside
		display: none

	.main__holder
		+media('<desk-md')
			margin-right: 0

/* contacts info
.info-container
	float: left
	padding-bottom: 40px

	+media('<desk-md')
		float: none

.info-container__list
	+clear-spacing
	+clear

	+media('<desk-md')
		+grid-parent($layout-spaces--lg)

.info-container__item
	+font($font-size, $line-height)
	letter-spacing: 0.025em
	color: inherit
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

	.short-contacts li:first-child
		padding-top: 0

	.short-contacts-wrap
		text-align: left

	+media('<desk-md')
		+grid-item(2, $layout-spaces--lg)

	+media('<mob-lg')
		+grid-item(1, $layout-spaces--lg)

.info-container__title
	+font-medium
	+font(16px, 24px)
	letter-spacing: 0.05em
	text-transform: uppercase
	color: $text-color-base
	margin-bottom: $bottom-space

.info-container__text
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

/* contacts info end

/* contacts map
.contacts-map
	position: absolute
	top: 0
	right: 0
	left: 50%
	height: calc(100vh - #{$header-height})
	//width: calc((100vw - #{$sidebar-width} - #{$aside-width})/2 + #{$aside-width})

	+media('<desk-lg')
		height: calc(100vh - #{$header-height--sm})

	+media('<desk-md')
		height: 320px
		position: relative
		top: auto
		left: auto
		right: auto

.contacts-map__frame
	height: 100%
	background: $bg-color-selected

/* contacts map end

/* map popup
.map-popup__title
	display: block
	+font-bold
	+font(20px, 24px)
	text-transform: uppercase
	margin-bottom: 0.8em
	color: $title-color

.map-popup__row
	+font(14px, 18px)
	padding: 0 0 1em
	+clear

	sup, sub
		font-size: 0.6em

	[class*="depict"]
		+size(18px)
		float: left
		margin-right: 1em

		& + div
			overflow: hidden

/* map popup end