@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* fame

$fame-space: 80px
$fame-list-space: 60px
$fame-space--md: 40px

.fame
	margin-bottom: $bottom-space--lg

	&:last-child
		margin-bottom: 0

.fame__list
	+grid-parent($fame-space)
	+clear-spacing
	margin-bottom: $bottom-space--md

	+media('<desk-hd')
		+grid-parent($fame-space--md)

	&:last-child
		margin-bottom: 0

.fame__item
	position: relative
	+grid-item(3, $fame-space, round($fame-space*0.5))
	+font(1.5rem, round-float(18px/15px, 2))
	letter-spacing: normal

	+media('<desk-hd')
		+grid-item-responsive(3, $fame-space--md)

.fame__inner
	display: block
	height: 100%
	text-decoration: none
	color: inherit

.fame__card
	margin: 0 auto 3.8rem
	max-width: 320px

.fame__figure
	position: relative
	overflow: hidden
	letter-spacing: normal

	&:before
		+pseudo-block-relative()
		+ratio(286, 410)

.fame__img
	position: relative
	overflow: hidden
	+cover-abs()
	font-size: $font-size
	letter-spacing: normal
	backface-visibility: hidden
	//background: $border-color url(../../img/news-no-img.jpg) no-repeat bottom right
	//background-size: cover
	background-color: $border-color
	transition:
		property: transform
		duration: 0.4s
		timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	&::after
		+pseudo()
		+position()
		+size(100%)
		background-color: transparentize($base-color-alt, 0.5)
		opacity: 0
		visibility: hidden
		transition:
			property: opacity, visibility
			duration: 0.4s
			timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	img
		display: block
		height: 100%
		max-width: none
		transform: translate(-50%, -50%)
		position: absolute
		backface-visibility: hidden
		+position(50%)

.fame__content
	position: relative
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.fame__title, .fame__text
	+font-medium
	+font(16px, round-float(20/16, 2))
	letter-spacing: 0.025em
	color: $text-color
	margin-bottom: 1rem
	overflow: hidden
	max-height: #{5 * 16px * round-float(24/16, 2)}
	transition:
		property: color
		duration: $animation-speed
	
	&:last-child
		margin-bottom: 0

	.no-touchevents .fame__link:hover &
		color: $base-color

.fame__text
	+font-normal

.fame__info
	position: absolute
	width: 100%
	max-height: 70%
	overflow-x: hidden
	overflow-y: auto
	bottom: 0
	background-color: white
	padding: #{round($grid-space*0.85)} #{$grid-space}
	box-shadow: inset 0 0 0 1px $border-color
	transform: translate(0, 100%)
	transition:
		property: transform
		duration: 0.4s
		timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	.short-contacts
		&, .#{$user-content} &
			li
				margin: 0 0 12px
				padding: 0

				&:last-child
					margin-bottom: 0

		svg
			+size(18px)

		a
			line-height: 18px

.fame__figure
	&:hover, &:focus

		.fame__img
			transform: translate(0, -12%)

			&::after
				opacity: 1
				visibility: visible

		.fame__info
			transform: translate(0, 0)


/* fame end