@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* filters
.filters-group
	margin-bottom: $bottom-space--md

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

.filters, .tape-slider
	margin-bottom: $bottom-space--md
	padding: #{round($grid-space*0.85)} #{$grid-space}
	width: 100% // clear layout
	+font-medium

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml
		padding: #{round($grid-space--lg*0.85)} #{$grid-space--lg}

	&:last-child
		margin-bottom: 0

	a, .tape-slider__anchor
		display: inline-block
		vertical-align: top
		text-decoration: none
		color: inherit
		cursor: pointer

		@if $has-animation
			transition:
				property: color
				duration: $animation-speed

		span
			border-bottom: 1px dotted tint($text-color, 40%)

			@if $has-animation
				transition:
					property: border-color
					duration: $animation-speed

		.no-touchevents &:hover
			color: $base-color

			span
				border-bottom-color: tint($base-color, 40%)

		@at-root .filter-list li, &.filters-all
			+font($font-size, $line-height)
			letter-spacing: 0.025em

		&.filters-all
			float: right

			+media('<mob-lg')
				float: none
				+display-inline-block-top
				margin-bottom: #{round($grid-space*0.5)}

		&.active
			color: $base-color

			span
				border-bottom-color: transparent !important

.filters-list, .tape-slider__list
	&, .#{$user-content} &
		padding: 0 20px 0 0
		margin-bottom: 10px

		&:last-child
			margin: 0 0 -#{round($grid-space*0.5)}

			+media('<mob-lg')
				margin-bottom: -#{round($grid-space--lg*0.5)}

		li
			margin: 0 #{$grid-space} #{round($grid-space*0.5)} 0
			padding: 0
			width: auto
			height: auto

			+media('<mob-lg')
				margin: 0 #{$grid-space--lg} #{round($grid-space--lg*0.5)} 0

			&::before
				content: none

.filters-list
	display: block
	overflow: hidden
	cursor: default
	+clear

	li
		+display-inline-block-top

/* filters end

/* filters alt
.filters-alt
	position: relative

.filters-alt-list
	&, .#{$user-content} &
		+grid-parent($grid-space)
		margin-bottom: $bottom-space--ml
		padding: 0 0 $bottom-space--ml
		+clear-spacing

		&::before
			+pseudo()
			bottom: 0
			left: round($grid-space/2)
			right: round($grid-space/2)
			border-bottom: 1px solid $border-color

		+media('<desk-lg')
			margin-bottom: $bottom-space
			padding: 0 0 $bottom-space
			+grid-parent($grid-space--lg)

		+media('<mob-lg')
			+grid-parent($grid-space--sm)

		&:last-child
			margin-bottom: 0

		li
			+grid-item(4, $grid-space)
			margin: 0

			+media('<desk-lg')
				+grid-item-responsive(3, $grid-space--lg)

			+media('<tab-sm')
				+grid-item-responsive(2, $grid-space--lg)

			+media('<mob-md')
				+grid-item-responsive(1, $grid-space--lg)

			&::before
				content: none

	&
		display: block
		position: relative
		overflow: hidden

		label
			margin-bottom: 0

/* filters alt end

/* filters preloader
.filter-preloader
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-position: center
	background-color: rgba($bg-color, 0.85)
	background-image: url(../../img/preloader.svg)
	background-size: 48px
	z-index: 999

/* filters preloader end

/* filters reset button
.filters-reset
	position: relative
	+display-inline-block-top
	padding: 0 0 0 24px
	margin: 0 0 $bottom-space
	background: none
	box-shadow: none
	border: none
	+font-medium
	color: inherit
	letter-spacing: 0.025em

	// add icon
	&::before, &::after
		+pseudo()
		+position(50%, 0)
		+size(16px)
		margin-top: -8px

	&::before
		background: url(../../img/depict-clear.svg) no-repeat

	&::after
		opacity: 0
		background: url(../../img/depict-clear-h.svg) no-repeat

	// add underline
	span
		border-bottom: 1px dotted $text-color

	// last child
	&:last-child
		margin-bottom: 0

	// disabled
	&:disabled
		cursor: default
		opacity: 0.4

	// hover
	&:hover:not(:disabled)
		color: $base-color

		&::before
			opacity: 0

		&::after
			opacity: 1

		span
			border-bottom-color: $base-color

/* filters reset button end