@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* filters
.filters
	margin-bottom: $bottom-space--lg
	padding: #{round($grid-space*0.85)} #{$grid-space}
	width: 100% // clear layout
	+font-medium

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml
		padding: #{round($grid-space--lg*0.85)} #{$grid-space--lg}

	&:last-child
		margin-bottom: 0

	a
		display: inline-block
		vertical-align: top
		text-decoration: none
		color: inherit
		transition:
			property: color
			duration: $animation-speed

		span
			border-bottom: 1px dotted tint($text-color, 40%)
			transition:
				property: border-color
				duration: $animation-speed

		.no-touchevents &:hover
			color: $base-color

			span
				border-bottom-color: tint($base-color, 40%)

		@at-root .filter-list li, &.filters-all
			+font($font-size, $line-height)
			letter-spacing: 0.025em

		&.filters-all
			float: right

			+media('<mob-lg')
				float: none
				+display-inline-block-top
				margin-bottom: #{round($grid-space*0.5)}

		&.active
			color: $base-color

			span
				border-bottom-color: transparent !important

.filters-list
	&, .#{$user-content} &
		padding: 0 20px 0 0
		margin: 0 0 -#{round($grid-space*0.5)}

		+media('<mob-lg')
			margin: 0 0 -#{round($grid-space--lg*0.5)}

		li
			margin: 0 #{$grid-space} #{round($grid-space*0.5)} 0
			padding: 0

			+media('<mob-lg')
				margin: 0 #{$grid-space--lg} #{round($grid-space--lg*0.5)} 0

			&::before
				content: none

	&
		display: block
		overflow: hidden
		+clear

		li
			+display-inline-block-top

/* filters end