@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* main scheme
.main-scheme
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.main-scheme-visual
	margin-bottom: $bottom-space--md

	+media('<tab-lg')
		margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

	img
		display: block
		+push-auto

	.--theme-dark
		display: none

	.theme-dark &
		.--theme-light
			display: none

		.--theme-dark
			display: block

.main-scheme-description
	+clear
	+clear-spacing
	+grid-parent($grid-space)

	ul
		+grid-item(4, $grid-space)
		+padding-vertical(0)
		+font-normal()
		+font(16px, round-float(24/16, 2))
		letter-spacing: 0.025em
		margin: 0

		+media('<desk-hd')
			+grid-item-responsive(2, $grid-space)

		+media('<mob-md')
			+grid-item-responsive(1, $grid-space)

		li
			margin: 12px 0 0
			padding: 0
			+clear

			&::before
				content: none

			&:first-child
				margin-top: 0

		.ico
			float: left
			margin-right: 14px
			line-height: 0
			white-space: normal
			+clear-spacing

			&::before
				content: ""
				+display-inline-block-middle
				height: 24px

			img
				+display-inline-block-middle
				font-size: $font-size
				letter-spacing: normal

			.--theme-dark
				display: none

			.theme-dark &
				.--theme-light
					display: none

				.--theme-dark
					display: inline-block

		li > span
			display: block
			overflow: hidden

/* main scheme end