@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* news previews

$news-previews-space: 80px
$news-previews-space--hd: 40px
$news-previews-space--lg: 30px
$news-previews-list-space: 60px
$news-previews-list-space--lg: 40px
$delay: 0.2s

.news-previews
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.news-previews__list
	+grid-parent($news-previews-space)
	+clear-spacing
	margin-bottom: $bottom-space--md

	+media('<desk-hd')
		+grid-parent($news-previews-space--hd)

	+media('<desk-lg')
		+grid-parent($news-previews-space--lg)
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.news-previews__item

	position: relative
	+grid-item(3, $news-previews-space, round($news-previews-space*0.5))
	+font(1.5rem, round-float(18px/15px, 2))
	letter-spacing: normal

	//&.wow
		transform: translate3d(0, 50px, 0)
		transition:
			delay: $delay

		&:nth-child(3n-1)
			transition:
				delay: $delay*2

		&:nth-child(3n)
			transition:
				delay: $delay*3

		&.animated
			transform: translate3d(0, 0, 0)

	+media('<desk-hd')
		+grid-item-responsive(3, $news-previews-space--hd)

	+media('<desk-lg')
		+grid-item-responsive(3, $news-previews-space--lg)

	+media('<1280px')
		+grid-item-responsive(2, $news-previews-space--lg)

		//&.wow

			&:nth-child(3n-1), &:nth-child(3n)
				transition:
					delay: $delay

			&:nth-child(2n)
				transition:
					delay: $delay*2

	+media('<tab-lg')
		+grid-item-responsive(3, $news-previews-space--lg)

		//&.wow
			&:nth-child(2n)
				transition:
					delay: $delay

			&:nth-child(3n-1)
				transition:
					delay: $delay*2

			&:nth-child(3n)
				transition:
					delay: $delay*3

	+media('<tab-sm')
		+grid-item-responsive(2, $news-previews-space--lg)

		//&.wow
			&:nth-child(3n-1), &:nth-child(3n)
				transition:
					delay: $delay

			&:nth-child(2n)
				transition:
					delay: $delay*2

	+media('<mob-md')
		+grid-item-responsive(1, $news-previews-space--lg)

		//&.wow
			&:nth-child(3n-1), &:nth-child(3n), &:nth-child(2n)
				transition:
					delay: $delay

.news-previews__inner
	display: block
	height: 100%
	text-decoration: none
	color: inherit

.news-previews__meta
	margin-bottom: 1rem
	cursor: default
	+clear-spacing
	//white-space: nowrap

.news-previews__date
	+display-inline-block-middle
	+font-normal
	+font(16px, round-float(24/16, 2))
	letter-spacing: 0.025em
	color: $text-color-light

	+media('<desk-hd')
		font-size: 14px

.news-previews__label
	+display-inline-block-middle
	+font-normal
	+font(14px, 1.1)
	letter-spacing: 0.025em
	text-transform: uppercase
	text-decoration: none
	color: white
	background-color: $text-color-light
	box-shadow: 0 0 0 1px #{$text-color-light}, 2px 0 0 1px #{$text-color-light}, -2px 0 0 1px #{$text-color-light}

	@if $has-animation
		transition:
			property: background-color, box-shadow, color
			duration: $animation-speed

	+media('<desk-hd')
		font-size: 14px

	&:empty
		box-shadow: none

	.no-touchevents &:hover
		background-color: $base-color
		box-shadow: 0 0 0 1px #{$base-color}, 2px 0 0 1px #{$base-color}, -2px 0 0 1px #{$base-color}

.news-previews__meta, .tags_list
	.news-previews__date, .news-previews__label
		margin-right: 1.1em
		margin-bottom: 0.5em

.news-previews__link
	text-decoration: none
	color: inherit
	display: block
	margin-bottom: 1.4rem

	+media('<desk-lg')
		margin-bottom: 1rem

	&:last-child
		margin-bottom: 0

.news-previews__figure
	//overflow: hidden
	position: relative
	margin: 0 0 $bottom-space
	//max-width: 285px
	font-size: $font-size
	letter-spacing: normal
	background-color: $border-color
	background-repeat: no-repeat
	background-position: center
	background-size: cover

	&.no-img
		background-image: url(../img/empty_img-light.jpg)

		.theme-dark &
			background-image: url(../img/empty_img-dark.jpg)

	&::before
		+pseudo-block-relative()
		+ratio(1, 1)

	img
		display: block
		width: 100%
		height: 100%
		position: absolute
		+position(0)
		+object-fit(cover)

.news-previews__content
	position: relative
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.news-previews__title, .news-previews__text
	+font-medium
	+font(16px, round-float(24/16, 2))
	letter-spacing: 0.025em
	margin-bottom: $bottom-space
	overflow: hidden
	max-height: #{5 * 16px * round-float(24/16, 2)}

	@if $has-animation
		transition:
			property: color
			duration: $animation-speed
	
	&:last-child
		margin-bottom: 0

	.no-touchevents .news-previews__link:hover &
		color: $base-color

.news-previews__text
	+font-normal

.news-previews__footer
	position: relative
	
.btn-read
	+display-inline-block-top
	+font-medium
	+font(14px, round-float(24/16, 2))
	letter-spacing: 0.05em
	color: $text-color-light
	text-transform: uppercase
	border-bottom: 1px solid $text-color-light

	@if $has-animation
		transition:
			property: border-color, color
			duration: $animation-speed

	.no-touchevents &:hover
		color: $base-color
		border-color: $base-color


.list-view
	$news-previews-figure-size: 160px

	.news-previews__list
		+grid-parent($news-previews-list-space)

		+media('<desk-lg')
			+grid-parent($news-previews-list-space--lg)

	.news-previews__item
		+grid-item-responsive(1, $news-previews-list-space)

		//&.wow
			&:nth-child(3n-1), &:nth-child(3n), &:nth-child(2n)
				transition:
					delay: $delay

		+media('<desk-lg')
			+grid-item-responsive(1, $news-previews-list-space--lg)

		+media('<mob-lg')
			+grid-item-responsive(2, $news-previews-space--lg)

			//&.wow
				&:nth-child(2n)
					transition:
						delay: $delay*2

		+media('<mob-md')
			+grid-item-responsive(1, $news-previews-space--lg)

			//&.wow
				&:nth-child(2n)
					transition:
						delay: $delay

	.news-previews__link
		display: inline

	.news-previews__figure
		float: left
		width: $news-previews-figure-size
		margin: 0

		+media('<mob-lg')
			float: none
			width: auto
			margin-bottom: $bottom-space

	.news-previews__meta, .news-previews__content, .news-previews__footer
		float: right
		width: calc(100% - #{$news-previews-figure-size})
		padding-left: $layout-spaces--hd

		+media('<desk-lg')
			padding-left: $layout-spaces--lg

		+media('<mob-lg')
			float: none
			width: 100%
			padding-left: 0

	.news-previews__meta
		margin-top: -6px
		margin-bottom: 1rem

		+media('<mob-lg')
			margin-top: 0

	.news-previews__content
		margin-bottom: 3.6rem

	.news-previews__title, .news-previews__text
		max-height: #{3 * 16px * round-float(24/16, 2)}

	.news-previews__footer
		position: relative
		clear: left
		margin-top: -26px

/* news previews end