@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* periods

.periods
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.periods-item
	position: relative
	border: dotted $text-color
	border-width: 0 0 1px

	&:first-child
		border-top-width: 1px

	&:last-child
		margin-bottom: 0

.periods-header
	position: relative
	z-index: 2

	.periods-panel &
		z-index: 1

.periods-hand
	$this-angle-lines-width: 10px
	$this-angle-lines-height: 2px
	$this-icon-lines-color: $base-color-alt
	
	position: relative
	padding: #{$grid-space} 0
	cursor: pointer
	+font-medium
	+font(32px, round-float(36/32, 2))
	letter-spacing: $letter-spacing
	text-transform: uppercase
	color: $base-color-alt
	user-select: none

	+media('<desk-lg')
		+padding-vertical($grid-space--lg)
		font-size: 26px

	+media('<mob-md')
		+padding-vertical($grid-space--sm)

	.text
		+display-inline-block-top
		padding-right: $grid-space

		+media('<desk-lg')
			padding-right: $grid-space--lg

	// стрелка
	.angle
		+display-inline-block-top
		position: relative
		+size(16px, 10px)
		margin: 14px 0 0 -20px
		left: 20px
		transform: translateZ(0)

		transition:
			property: transform
			duration: $animation-speed

		// ie9
		.ie9 &
			transform: none

		+media('<desk-lg')
			margin-top: 10px

		&::before, &::after
			+pseudo()
			right: 0
			top: 50%
			backface-visibility: hidden
			+size($this-angle-lines-width, $this-angle-lines-height)
			margin-top: -1px
			background-color: $this-icon-lines-color

		&::before
			transform: rotate(-45deg)

		&::after
			right: round(get-catheter($this-angle-lines-width) - $this-angle-lines-height*0.5)
			transform: rotate(45deg)

	// hover
	.no-touchevents &:hover, &.is-open
		color: $base-color

		.angle
			&::before, &::after
				background-color: $base-color

	// активное состояние
	&.is-open
		.angle
			transform: rotate(0.5turn) translateZ(0)

			// ie9
			.ie9 &
				transform: rotate(0.5turn)

.periods-panel
	display: none

.periods-panel__frame
	position: relative
	opacity: 0
	transition:
		property: opacity
		duration: $animation-speed

	.is-open > &
		opacity: 1
		transition-delay: 0.08s

.periods-panel__content
	padding: $grid-space 0

	+media('<desk-lg')
		+padding-vertical($grid-space--lg)

	+media('<mob-md')
		font-size: 14px
		+padding-vertical($grid-space--sm)

/* periods end