@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* search form
.search-form
	background-color: #fff
	opacity: 0
	visibility: hidden
	z-index: 100
	//box-shadow: inset 0 -1px 0 $border-color
	border-bottom: 1px solid $border-color

	@if $has-animation
		transition:
			property: opacity, visibility
			duration: $animation-speed

	.form-is-open &
		opacity: 1
		visibility: visible

	.header &
		position: absolute
		left: 0
		top: 0
		bottom: 0
		width: 100%
		+padding-horizontal($header-height)

		+media('<tab-lg')
			+padding-horizontal($header-height--sm)

	form
		display: table
		+size(100%)

	.input-wrapper
		display: table-cell
		vertical-align: middle
		position: relative
		+padding-horizontal(30px)
		opacity: 0

		+media('<mob-lg')
			+padding-horizontal(15px)

		.form-is-open &
			opacity: 1

	input
		&[type="search"], &[type="text"]
			+font(20px, 30px)
			color: $text-color
			padding: 0
			height: auto
			background: none
			box-shadow: none
			border: none
			margin: 0

			+media('<mob-lg')
				font-size: 16px

		+placeholder
			color: #b2b2b2 !important

		+placeholder-focus
			opacity: 1

	.btn-search
		$magnifier-color: black

		overflow: hidden
		position: absolute
		right: 100%
		top: 0
		+size($header-height)
		border-right: 1px solid #{$border-color}
		cursor: pointer

		&::after
			content: ''
			+animation-filling

		+media('<tab-lg')
			+size($header-height--sm)

		span
			+hide-text

		i
			position: absolute
			+position(50%, 50%)
			+size(18px)
			+font(0, 0)
			pointer-events: none
			z-index: 2
			transform: translate(-50%, -50%)

		svg
			+display-inline-block-top
			+size(20px)

		path
			fill: black

			//@if $has-animation
			transition:
				property: fill
				duration: $filling-speed

		input[type="submit"]
			padding: 0
			border: none
			background: none
			margin: 0

		.no-touchevents &:hover

			&::after
				+animation-filling-active

			path
				fill: white
				transition:
					duration: $filling-speed

		// ie9
		.ie9 &:hover
			background-color: $base-color-alt !important

.btn-search-close
	position: absolute
	+position(0, 100%)
	+size($header-height)
	border-left: 1px solid #{$border-color}

	&::after
		content: ''
		+animation-filling

	+media('<tab-lg')
		+size($header-height--sm)

	span
		+hide-text

	i
		position: absolute
		+position(50%, 50%)
		+size(18px)
		+font(0, 0)
		z-index: 2
		pointer-events: none
		transform: translate(-50%, -50%)

		&:before, &:after
			$line-width: 22px

			+pseudo()
			+position(50%, 50%)
			height: 2px
			+size($line-width, 2px)
			margin: -1px 0 0 (-$line-width/2)
			border-radius: 2px
			background-color: black

			//@if $has-animation
			transition:
				property: background-color
				duration: $filling-speed-mouseleave

		&::before
			transform: rotate(-45deg)

		&::after
			transform: rotate(45deg)

	.no-touchevents &:hover, .no-touchevents &:focus

		&::after
			+animation-filling-active

		i
			&::before, &::after
				background-color: white

				transition:
					duration: $filling-speed

	// ie9
	.ie9 &:hover
		background-color: $base-color-alt !important

/* search form end