@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* structure
$structure-item-bottom-space: 40px
$structure-branch-weight: 2px
$structure-branch-space-v: 29px
$structure-branch-space-h: 28px

.structure
	margin-bottom: $bottom-space--lg

	&:last-child
		margin-bottom: 0

.structure-item, .structure-hand
	&::before
		+pseudo()
		right: 100%
		border: 0 solid $base-color-alt

.structure-item
	position: relative
	margin-bottom: $structure-item-bottom-space
	margin-left: $structure-branch-space-h

	&:last-child
		margin-bottom: 0

	&::before
		+size(#{$structure-branch-space-h}, calc(100% + #{$structure-item-bottom-space}))
		border-width: 0 0 0 $structure-branch-weight

	&:first-child
		&::before
			top: $structure-branch-space-v

	&:last-child
		&::before
			top: 0
			height: #{$structure-branch-space-v + $structure-branch-weight}

.structure-hand
	$this-angle-lines-width: 13px
	$this-angle-lines-height: 3px
	$this-icon-lines-color: $base-color-alt
	
	position: relative
	background-color: white
	border: 2px solid $base-color-alt
	padding: #{round($grid-space*0.5)} #{round($grid-space*2 + $this-angle-lines-width)} #{round($grid-space*0.5)} #{$grid-space}
	cursor: pointer
	+font-medium
	+font(16px, round-float(24/16, 2))
	letter-spacing: 0.05em
	color: $base-color-alt
	text-transform: uppercase
	user-select: none
	transition:
		property: background-color, color
		duration: $animation-speed

	.no-touchevents &:hover
		background-color: $base-color-alt
		color: white

	&::before
		top: #{$structure-branch-space-v - $structure-branch-weight} // минус бордер
		+size(#{$structure-branch-space-h}, 0)
		border-width: $structure-branch-weight 0 0

	.text
		+display-inline-block-top

	.counter
		$counter-space-h: 8px

		+display-inline-block-top
		+font-medium
		color: $text-color-light
		padding-left: $counter-space-h

		&::before
			+display-inline-block-top
			padding-right: $counter-space-h
			content: "/"

		&::after
			content: attr(data-text)

		&[data-text*="0"]
			display: none

	.angle
		position: absolute
		right: $grid-space
		top: 50%
		+size($this-angle-lines-width, $this-angle-lines-height)
		margin-top: -#{round($this-angle-lines-height*0.5)}
		backface-visibility: hidden

		&::before, &::after
			+pseudo()
			left: 0
			backface-visibility: hidden
			+size($this-angle-lines-width, $this-angle-lines-height)
			background-color: $this-icon-lines-color
			transition:
				property: background-color, transform
				duration: $animation-speed

		&::before
			top: 0

		&::after
			top: 0
			transform: rotate(90deg)

	.no-touchevents &:hover
		.angle
			&::before, &::after
				background-color: white

	&.is-open
		.angle
			&::after
				transform: rotate(0)

.structure-panel
	display: none

.structure-panel-item
	padding: #{round($grid-space*0.5)} #{$grid-space} #{round($grid-space*0.5)}
	border: solid $base-color-alt
	border-width: 0 2px 2px
	background-color: white
	color: $text-color
	+font(16px, round-float(24/16, 2))
	letter-spacing: 0.025em
	text-decoration: none
	display: table
	width: 100%
	//display: block
	//display: flex
	//justify-content: space-between
	//align-items: center
	transition:
		property: background-color, color
		duration: $animation-speed

	.no-touchevents &:hover
		background-color: $base-color-alt
		color: white

.structure-panel-text, .structure-panel-label
	display: table-cell
	vertical-align: middle

//.structure-panel-text
	flex-basis: calc(100% - 200px)

.structure-panel-label
	$width: 200px

	+font(10px, 12px)
	text-align: right
	color: $text-color-light
	text-transform: uppercase
	padding-left: 20px
	//flex-basis: 200px
	max-width: $width
	min-width: $width
	width: $width

	&:empty
		display: none

/* structure end