@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* structure


.structure
	padding-bottom: 2rem

.structure:last-child
	padding-bottom: 0

.structure__item
	background-color: #fff
	padding: 3rem
	width: 100%
	box-sizing: border-box

.structure__item:after
	content: ''
	display: block
	clear: both

.structure__item:nth-child(odd)
	background-color: #f7f3e8

.structure__img
	float: left
	margin-right: 3rem
	max-width: 300px
	width: 30%

.structure__img figure
	margin: 0
	padding: 0 0 1rem

.structure__img figure:last-child
	padding-bottom: 0

.structure__img img
	width: 100%

.structure__content
	overflow: hidden

.structure__caption
	padding-bottom: 1.5rem

.structure__title,
.user-section .structure__title
	font-size: 27px
	line-height: 1.5
	margin: 0
	padding-bottom: 0.5rem

.structure__subtitle,
.user-section .structure__subtitle
	font-size: 14px
	line-height: 1.4
	font-weight: normal
	color: #666
	margin: 0
	padding-bottom: 0.5rem

.structure__title:last-child,
.user-section .structure__title:last-child,
.structure__subtitle:last-child,
.user-section .structure__subtitle:last-child
	padding-bottom: 0

.structure__content ul
	font-size: 18px
	padding-left: 16px

a.show-more
	text-decoration: none
	display: inline-block
	vertical-align: top
	margin-bottom: 1rem

.structure__content a.has-arrow,
a.show-more.has-arrow
	position: relative
	display: inline-block
	padding-right: 20px

.simple-accordion-panel-js
	display: none

.structure__content a.has-arrow:after,
a.show-more.has-arrow:after
	content: ''
	position: absolute
	right: 0
	top: 50%
	margin-top: -7px
	height: 14px
	width: 14px
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iTTI0LjI4NSwxMS4yODRMMTYsMTkuNTcxbC04LjI4NS04LjI4OGMtMC4zOTUtMC4zOTUtMS4wMzQtMC4zOTUtMS40MjksMCAgYy0wLjM5NCwwLjM5NS0wLjM5NCwxLjAzNSwwLDEuNDNsOC45OTksOS4wMDJsMCwwbDAsMGMwLjM5NCwwLjM5NSwxLjAzNCwwLjM5NSwxLjQyOCwwbDguOTk5LTkuMDAyICBjMC4zOTQtMC4zOTUsMC4zOTQtMS4wMzYsMC0xLjQzMUMyNS4zMTksMTAuODg5LDI0LjY3OSwxMC44ODksMjQuMjg1LDExLjI4NHoiIGZpbGw9IiM5OTAwMzMiLz48L3N2Zz4=)
	background-position: 50% 50%
	background-repeat: no-repeat
	-webkit-background-size: 18px
	background-size: 18px
	-webkit-filter: saturate(0)
	-o-filter: saturate(0)
	filter: saturate(0)

.structure__content a.has-arrow.active:after,
a.show-more.has-arrow.active:after
	-webkit-transform: rotate(-0.5turn)
	-ms-transform: rotate(-0.5turn)
	transform: rotate(-0.5turn)

a.show-more:before
	content: attr(data-show-text)
	display: inline-block
	line-height: 1.2

a.show-more.active:before
	content: attr(data-hide-text)

.structure__content a span,
a.show-more:before
	border-bottom: 1px dotted #903

.structure__content a:hover span,
a.show-more:hover:before
	border-color: #c38b00

a.show-more span
	position: absolute
	left: -10000px
	top: auto
	width: 1px
	height: 1px
	overflow: hidden
	clip: rect(1px 1px 1px 1px) /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px)

.structure__content ul,
.structure__content ul ul
	margin-left: 0
	padding-left: 40px

.structure__content ul li:before,
.structure__content ul ul li:before,
.structure__content ul li:after,
.structure__content ul ul li:after
	content: ''
	position: absolute
	top: 0
	left: -30px
	width: 20px
	background: none
	border: dashed #999

.structure__content ul li:before,
.structure__content ul ul li:before
	bottom: 0
	height: auto
	border-width: 0 0 0 1px

.structure__content ul li:first-child:before
	top: -10px

.structure__content ul ul li:first-child:before
	top: 0

.structure__content ul li:last-child:before,
.structure__content ul ul li:last-child:before
	bottom: auto
	height: 24px

.structure__content ul li:after,
.structure__content ul ul li:after
	border-width: 0 0 1px
	height: 24px

/* structure end