<div class="several-slider__item">
	<a href="#" class="several-slider__inner">
		@@if (context.name === "default") {
			@@if (context.text) {
			<div class="several-slider__text">
				<span>@@text</span>
			</div>
			}
			<div class="several-slider__content">
				@@if (context.icon) {
				<div class="several-slider__figure">@@icon</div>
				}
				@@if (context.value) {
				<div class="several-slider__value">@@value</div>
				}
				@@if (context.unit) {
				<div class="several-slider__unit">@@unit</div>
				}
			</div>
		}
		@@if (context.name === "infoLink") {
			@@if (context.text) {
			<strong class="info-links__text">@@text</strong>
			}
			@@if (context.icon) {
			<div class="info-links__icon">
				@@icon
			</div>
			}
		}
	</a>
</div>