<article class="fame__item">
	<div class="fame__inner">

		<div class="fame__card add-shadow">
			<div class="fame__figure">
				<a href="#" class="fame__img">
					<img src="img/@@src" alt="@@title" />
				</a>
				<div class="fame__info">
					<ul class="short-contacts">
						@@if (context.phone) {

							<li>
								<svg class="ico-search" viewBox="0 0 83.9 82">
									<use xlink:href="#ico-phone"></use>
								</svg>
								@@for (var i = 0; i < phone.length; i++) {
								<a href="tel:`+phone[i]+`">
									<span>`+phone[i]+`</span>
								</a>
								}
							</li>
						}
						@@if (context.fax) {
						<li>
							<svg class="ico-search" viewBox="0 0 309 247">
								<use xlink:href="#ico-fax"></use>
							</svg>
							<a>
								<span>@@fax</span>
							</a>
						</li>
						}
						@@if (context.email) {
						<li>
							<svg class="ico-search" viewBox="0 0 88 58">
								<use xlink:href="#ico-email"></use>
							</svg>
							@@for (var i = 0; i < email.length; i++) {
							<a href="mailto:`+email[i]+`">
								<span>`+email[i]+`</span>
							</a>
							}
						</li>
						}
					</ul>
				</div>
			</div>
		</div>

		<div class="fame__content">
			@@if (context.title) {
				<div class="fame__title">@@title</div>
			}
			@@if (context.text) {
				<div class="fame__text">@@text</div>
			}
		</div>

	</div>
</article>