<article class="news-previews__item">
	<div class="news-previews__inner">
		<header class="news-previews__meta">
			@@if (context.date) {
				<time datetime="@@datetime" class="news-previews__date">@@date</time>
			}
			@@if (context.label) {
				<a href="#" class="news-previews__label">@@label</a>
			}
		</header>
		@@if (context.src) {
		<div class="news-previews__figure add-shadow">
			<a href="#" class="news-previews__img">
				<img src="img/@@src" alt="@@title" />
			</a>
		</div>
		}
		<div class="news-previews__content">
			@@if (context.title) {
				<div class="news-previews__title"><a href="#">@@title</a></div>
			}
			@@if (context.text) {
				<div class="news-previews__text">@@text</div>
			}
		</div>
		<footer class="news-previews__footer">
			<a href="#" class="btn-read">Читать</a>
		</footer>
	</div>
</article>