<a href="#" class="several-slider__item">
	<div class="several-slider__inner">
		@@if (context.text) {
		<div class="several-slider__text">
			<span>@@text</span>
		</div>
		}
		<div class="several-slider__content">
			@@if (context.icon) {
			<div class="several-slider__figure">
				@@icon
			</div>
			}
			@@if (context.value) {
			<div class="several-slider__value">
				@@value
			</div>
			}
			@@if (context.unit) {
			<div class="several-slider__unit">
				@@unit
			</div>
			}
		</div>
	</div>
</a>