@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* navigation
.nav-wrap
	.header &
		float: left

		+media('<desk-sm')
			display: none

	.sidebar &
		display: none

		+media('<desk-sm')
			display: block

.nav
	position: relative

.nav-list
	+margin-horizontal(-#{round($nav-item-space*0.5)})
	+clear

	+media('<desk-hd')
		+margin-horizontal(-#{round($nav-item-space--sm*0.5)})

	li
		position: relative

		//&.has-drop
			padding-right: 2rem

			//.nav__angle
				position: absolute
				right: 0
				top: 50%
				transform: translate(0, -50%)
				line-height: 0
				pointer-events: none

		&.hover > .nav__tab a
			background-color: $bg-color-selected

	a
		display: block
		+padding-horizontal(#{round($nav-item-space*0.5)})
		+font-medium
		+font(16px, 20px)
		text-decoration: none
		color: $text-color-base
		@if $has-animation
			transition:
				property: background-color, color
				duration: $animation-speed

		+media('<desk-hd')
			+padding-horizontal(#{round($nav-item-space--sm*0.5)})

	.nav__angle
		display: none

// первый уровень навигации
.nav-list > li
	float: left

	& > .nav__tab
		a
			height: $header-height
			+clear-spacing

			&::before
				+pseudo-inline-block()
				height: 100%
				vertical-align: middle

			span
				+display-inline-block-middle
				+font($font-size, $line-height)
				letter-spacing: 0.05em

				&.short-text
					display: none

				+media('<desk-lg')
					&.full-text
						display: none

					&.short-text
						display: inline-block

//.nav__angle i
	display: inline-block
	vertical-align: top
	+triangle(bottom, black, 5px, 2)

.nav__drop
	position: absolute
	left: 0
	top: 100%
	background-color: $bg-color-base
	border: 1px solid $border-color
	margin-top: -1px
	width: 320px
	opacity: 0
	visibility: hidden
	z-index: 10

	+media('<desk-sm')
		display: none

	li.hover > &
		opacity: 1
		visibility: visible

		//&.has-drop > .nav__tab .nav__angle i
			display: inline-block
			vertical-align: top
			+triangle(right, black, 5px, 2)

	a
		+padding-vertical(round($nav-item-space*0.25))

	.nav__drop
		top: 0
		left: 100%

/* navigation overlay
.overlay-menu
	+media('>=desk-sm')
		opacity: 0 !important
		visibility: hidden !important
		transition:
			property: opacity, visibility
			duration: $animation-speed

/* navigation overlay end
/* navigation end

