@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* navigation
$nav-drop-item-width: 320px
$nav-drop-item-width--sm: 240px

.nav-wrap
	.header &
		float: left

		+media('<desk-sm')
			display: none

	.sidebar &
		display: none

		+media('<desk-sm')
			display: block

.nav
	position: relative

.nav-list
	+margin-horizontal(-#{round($nav-item-space*0.5)})
	+clear

	+media('<desk-hd')
		+margin-horizontal(-#{round($nav-item-space--sm*0.5)})

	li
		position: relative

		&.hover > .nav__tab a
			background-color: $base-color-alt
			color: $bg-color-base

	a
		display: block
		+padding-horizontal(#{round($nav-item-space*0.5)})
		+font(16px, 20px)
		text-decoration: none
		color: $text-color-base
		@if $has-animation
			transition:
				property: background-color, color
				duration: $animation-speed

		+media('<desk-hd')
			+padding-horizontal(#{round($nav-item-space--sm*0.5)})

	.nav__angle
		display: none

.nav__tab
	& .short-text
		display: none !important

	+media('<desk-lg')
		.header & .full-text
			display: none !important

		.header & .short-text
			display: inline-block !important

// первый уровень навигации
.nav-list
	& > li
		float: left

		& > .nav__tab
			a
				height: $header-height
				+font-medium
				+clear-spacing

				&::before
					+pseudo-inline-block()
					height: 100%
					vertical-align: middle

				span
					+display-inline-block-middle
					+font($font-size, $line-height)
					letter-spacing: 0.05em

.nav__drop
	position: absolute
	left: 0
	top: 100%
	background-color: $base-color-alt
	border: 1px solid $border-color-light
	margin-top: -1px
	width: round($nav-drop-item-width*2)
	opacity: 0
	visibility: hidden
	z-index: 10
	+clear-spacing
	overflow: hidden

	+media('<desk-sm')
		display: none

	li.hover > &
		opacity: 1
		visibility: visible

	li
		+display-inline-block-top
		position: relative
		width: calc(100%/2)
		letter-spacing: 0.025em

		&::before, &::after
			+pseudo()
			border: 0 solid $border-color-light

		&::before
			+position(100%, 0)
			+size(9999px, 0)
			border-top-width: 1px

		&::after
			+position(0, 100%)
			+size(0, 9999px)
			border-right-width: 1px

	.nav__tab
		height: 100%

	a
		padding: round($nav-item-space*0.5) round($nav-item-space*0.5)
		color: $bg-color-base
		height: 100%

	li.hover > .nav__tab a
		background-color: $base-color
		color: $bg-color-base

	.nav__drop
		top: 0
		left: 100%

/* navigation overlay
.overlay-menu
	+media('>=desk-sm')
		opacity: 0 !important
		visibility: hidden !important
		transition:
			property: opacity, visibility
			duration: $animation-speed

/* navigation overlay end
/* navigation end