@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.sidebar
	background-color: $bg-panels-color
	user-select: none
	border-right: 1px solid $border-color

	+media('<mob-lg')
		border: none

//.sidebar__holder
	background: url(../../img/bg-sidebar-img.png) no-repeat left bottom
	background-size: 89.1%

.sidebar-widget
	padding: round($sidebar-inside-space*0.85) $sidebar-inside-space
	border-top: 1px solid $border-color

	+media('<desk-lg')
		padding: round($sidebar-inside-space--lg*0.85) $sidebar-inside-space--lg

/* social networks (in sidebar)
.social-networks__list
	text-align: center

/* social networks (in sidebar) end

/* menu switcher
.menu-switcher
	margin-bottom: -5px
	+padding-horizontal($sidebar-inside-space-alt)
	+clear-spacing
	+clear

	.home-page &
		display: none

	+media('<desk-lg')
		+padding-horizontal($sidebar-inside-space-alt--lg)

	.btn-main-menu
		+display-inline-block-middle
		letter-spacing: normal
		+font($font-size, $line-height)

		& + a
			+display-inline-block-middle
			position: relative
			+padding-horizontal(20px)
			+font-medium
			+font(16px, 20px)
			letter-spacing: 0.05em
			color: $text-color-base
			text-transform: uppercase
			text-decoration: none
			transition:
				property: transform, opacity
				duration: $animation-speed

			&::before
				+pseudo()
				left: 0
				top: 2px
				bottom: 2px
				+size(0, auto)
				border-left: 1px solid $border-color

			&:hover
				color: $base-color

		&.active + a
			opacity: 0.3
			color: $text-color-base

#sub-menu

	.home-page &
		display: none !important

#main-menu

	.home-page &
		display: block !important
		position: relative !important
		left: auto !important
		top: auto !important
		visibility: visible !important
		opacity: 1 !important
		z-index: 2 !important

/* menu switcher end

/* menu
.menu-list, .sidebar .nav-list
	list-style: none
	padding: round($sidebar-inside-space*0.5) $sidebar-inside-space
	margin: 0

	+media('<desk-lg')
		padding: round($sidebar-inside-space--lg*0.85) $sidebar-inside-space--lg

	$item-space-h: 30px
	$item-space-v: 14px

	li
		+margin-horizontal(-#{$item-space-h})
		padding: round($item-space-v - (40px - 24px)/2) 20px
		text-align: center

		+media('<desk-lg')
			+padding-horizontal(10px)

	a
		+display-inline-block-top
		+font-medium
		+font(16px, 24px)
		padding: round((40px - 24px)/2) #{$item-space-h}
		color: $text-color
		letter-spacing: 0.05em
		text-decoration: none
		text-transform: uppercase
		@if $has-animation
			transition:
				property: color, background-color
				duration: $animation-speed

	.no-touchevents & a:hover
		color: $base-color
		background-color: transparent

	.current a
		color: $bg-color-base !important
		background-color: $base-color !important

/* menu end

/* navigation in sidebar
.sidebar
	.nav
		position: relative

		&::before
			$width: 200px

			+pseudo()
			+position(0, 50%)
			+size($width, 0)
			margin-left: -#{round($width/2)}
			border-top: 1px solid $border-color

	.nav-list
		& > li
			float: none

		a
			height: auto !important

/* navigation in sidebar end

/* settings elements in sidebar
.sidebar
	.user-options
		display: none
		position: fixed
		left: -1px
		bottom: 0
		width: calc(100% + 2px)
		box-shadow: inset 0 1px 0 #{$border-color}, 0 5px 25px transparent
		transition:
			property: box-shadow
			duration: $animation-speed

		.menu--opened &
			box-shadow: inset 0 1px 0 #{$border-color}, 0 -5px 25px rgba(0, 0, 0, 0.05)

		.search-link
			display: none

		+media('<mob-lg')
			display: block

	.lang
		float: right

/* settings elements in sidebar end